
{% if (final_quantity > 1) %}
    <span class="label label-success">In stock ({{ final_quantity }})</span>
{% else %}
    <span class="label label-danger">Sold out</span>
    <smal>{{ availability_date ? '(availability '~availability_date|date("d.m.Y")~')' : '' }}</smal>
{% endif %}