
{% if is_allow_order %}
<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</button>
{% endif %}

{% if is_allow_order_msg != '' %}
<span class="label label-info">{{ is_allow_order_msg }}</span>
{% endif %}