<div id="footer-outer" data-cols="4" data-disable-copyright="false" data-using-bg-img="false" data-bg-img-overlay="0.8" data-full-width="false" data-using-widget-area="true">
  <div id="footer-widgets" data-cols="4">
    <div class="container">
      <div class="row">
        <div class="col span_3">
          <!-- Footer widget area 1 -->
          <div id="text-2" class="widget widget_text">
            <div class="textwidget">
              <p>
                <img src="http://bosslasers.fanscreens.net/wp-content/uploads/2018/05/boss_laser_logo.png" width="50" height="42">
              </p>
            </div>
          </div>
        </div><!--/span_3-->

        <div class="col span_3">
          <!-- Footer widget area 2 -->
          <div id="text-3" class="widget widget_text"><h4>BOSS LASERS</h4>			<div class="textwidget"><p><strong>Phone:&nbsp;</strong>(+1) 407.878.0880</p>
            <p><strong>Address:</strong> 608 Trestle Point<br>
              Sanford, FL &nbsp;32771<br>
              USA</p>
              <p><strong>General Questions:&nbsp;</strong><a href="mailto: info@camasmeadows.com">Email Us</a></p>
            </div>
          </div>
        </div><!--/span_3-->

        <div class="col span_3">
          <!-- Footer widget area 3 -->
          <div class="widget">
            <h4 class="widgettitle">Widget Area 3</h4>
            <p class="no-widget-added"><a href="http://bosslasers.fanscreens.net/wp-admin/widgets.php">Click here to assign a widget to this area.</a></p>
          </div>

        </div><!--/span_3-->

        <div class="col span_3">
          <!-- Footer widget area 4 -->
          <div id="text-4" class="widget widget_text">
            <h4>Hours</h4>
            <div class="textwidget"></div>
          </div>
        </div><!--/span_3-->
      </div><!--/row-->
    </div><!--/container-->
  </div><!--/footer-widgets-->



  <div class="row" id="copyright">
    <div class="container">
      <div class="col span_5">
        <p>© 2018 Boss Lasers. All Rights Reserved. </p>
      </div><!--/span_5-->
      <div class="col span_7 col_last">
        <ul id="social">
        </ul>
      </div><!--/span_7-->
    </div><!--/container-->
  </div><!--/row-->
</div><!--/footer-outer-->
