<header id="top">

  <div class="container">

    <div class="row">

      <div class="col span_3">

        <a id="logo" href="http://bosslasers.fanscreens.net">

          <img class="stnd default-logo dark-version" alt="Boss Lasers" src="http://bosslasers.fanscreens.net/wp-content/uploads/2018/05/boss_laser_logo.png" srcset="http://bosslasers.fanscreens.net/wp-content/uploads/2018/05/boss_laser_logo.png 1x, http://bosslasers.fanscreens.net/wp-content/uploads/2018/05/boss_laser_logo.png 2x">

        </a>

      </div><!--/span_3-->

      <div class="col span_9 col_last">


        <!--mobile cart link-->
        <a id="mobile-cart-link" href="http://bosslasers.fanscreens.net"><i class="icon-salient-cart"></i></a>
        <div class="slide-out-widget-area-toggle mobile-icon slide-out-from-right" data-icon-animation="simple-transform">
          <div> <a href="#sidewidgetarea" class="closed"> <span> <i class="lines-button x2"> <i class="lines"></i> </i> </span> </a> </div>
        </div>


        <nav>

          <ul class="buttons" data-user-set-ocm="off">



            <li class="slide-out-widget-area-toggle" data-icon-animation="simple-transform">
              <div> <a href="#sidewidgetarea" class="closed"> <span> <i class="lines-button x2"> <i class="lines"></i> </i> </span> </a> </div>
            </li>
          </ul>

          <ul class="sf-menu">
            <li id="menu-item-550" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-550"><a href="http://bosslasers.fanscreens.net/products/">LASER MACHINES</a></li>
            <li id="menu-item-520" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-520"><a href="http://#">APPLICATIONS</a></li>
            <li id="menu-item-521" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-521"><a href="http://#">SUPPORT</a></li>
            <li id="menu-item-522" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-522"><a href="http://#">VIDEOS</a></li>
            <li id="menu-item-523" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-523"><a href="http://#">ACCESSORIES</a></li>
            <li id="menu-item-524" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-524"><a href="http://#">DISCOUNTS</a></li>
            <li id="menu-item-525" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-525"><a href="http://#">FINANCING</a></li>
          </ul>

        </nav>


      </div><!--/span_9-->


    </div><!--/row-->

  </div><!--/container-->

</header>
