<div id="sidebar" class="col span_3 col">
  <div id="text-7" class="widget widget_text">
    <h4>FILTER MACHINES</h4>
    <div class="textwidget">
      <p>
        <span class="filter active" data-filter-query="laser-cutting">LASER CUTTING MACHINES</span><br>
        <span class="filter" data-filter-query="laser-engraving">LASER ENGRAVING MACHINES</span><br>
        <span class="filter" data-filter-query="laser-marking">LASER MARKING MACHINES</span>
      </p>
    </div>
  </div>
  <div id="text-6" class="widget widget_text">
    <h4>MATERIALS</h4>
    <div class="textwidget">
      <p>
        <span class="filter active" data-filter-query="wood">WOOD</span><br>
        <span class="filter active" data-filter-query="acrylic">ACRYLIC</span><br>
        <span class="filter" data-filter-query="steel">STEEL</span><br>
        <span class="filter" data-filter-query="aluminum">ALUMINUM</span><br>
        <span class="filter" data-filter-query="glass">GLASS</span>
      </p>
    </div>
  </div>
  <div id="text-8" class="widget widget_text">
    <h4>MACHINE TYPE</h4>
    <div class="textwidget">
      <p>
        <span class="filter" data-filter-query="co2">CO2 LASERS</span><br>
        <span class="filter" data-filter-query="fiber">FIBER LASERS</span>
      </p>
    </div>
  </div>
  <div id="text-9" class="widget widget_text">
    <h4>CUTTING AREA</h4>
    <div class="textwidget">
      <p>UP TO 40 INCHES<br>
      UP TO 80 INCHES<br>
      81 INCHES AND UP</p>
    </div>
  </div>
  <div id="text-10" class="widget widget_text">
    <h4>CUTTING DEPTH</h4>
    <div class="textwidget">
        <p>0-1/4 INCH<br>
      1/4 -1 INCH<br>
      1+ INCHES</p>
    </div>
  </div>
</div>
