<link rel="stylesheet" href="<?php echo $baseUrl; ?>/plugins/ideas/shop/assets/css/invoice.css">
<div id="invoice-div">
    <h3>INVOICE #<?php echo $data['id'] ?></h3>
    <table class="table-invoice">
        <thead>
        <tr>
            <th colspan="2"><p><?php echo e(trans('ideas.shop::lang.order.order_detail')) ?></p></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Telephone 123456789<br/>
                E-Mail admin@admin.to<br/>
                Web Site: http://ideasshop.local<br/>
            </td>
            <td>
                Date Added <?php echo date('Y-m-d')?><br/>
                Order ID: <?php echo $data['id'] ?><br/>
                Payment Method : <?php echo $data['payment_method_name'] ?><br/>
                Shipping Method : <?php echo $data['shipping_rule_name'] ?><br/>
            </td>
        </tr>

        </tbody>
    </table>
    <table class="table-invoice">
        <thead>
        <tr>
            <th><p><?php echo e(trans('ideas.shop::lang.order.billing_address')) ?></p></th>
            <th><p><?php echo e(trans('ideas.shop::lang.order.shipping_address')) ?></p></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><?php echo $data['billing_name'] ?></td>
            <td><?php echo $data['shipping_name'] ?></td>
        </tr>
        <tr>
            <td><?php echo $data['billing_address'] ?></td>
            <td><?php echo $data['shipping_address'] ?></td>
        </tr>
        <tr>
            <td><?php echo $data['city_billing_name'] ?></td>
            <td><?php echo $data['city_shipping_name'] ?></td>
        </tr>
        <tr>
            <td><?php echo $data['billing_phone'] ?></td>
            <td><?php echo $data['shipping_phone'] ?></td>
        </tr>
        <tr>
            <td><?php echo $data['billing_email'] ?></td>
            <td><?php echo $data['shipping_email'] ?></td>
        </tr>
        <tr>
            <td><?php echo $data['billing_post_code'] ?></td>
            <td><?php echo $data['shipping_post_code'] ?></td>
        </tr>
        <tr>
            <td><?php echo e(trans('ideas.shop::lang.order.shipping')) ?> :
                <?php echo $data['shipping_rule_name'] ?></td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <table class="table-invoice table-product">
        <thead>
        <tr>
            <th><p><?php echo e(trans('ideas.shop::lang.order.product')) ?></p></th>
            <th><p><?php echo e(trans('ideas.shop::lang.order.qty')) ?></p></th>
            <th><p><?php echo e(trans('ideas.shop::lang.order.price_after_tax')) ?></p></th>
            <th><p><?php echo e(trans('ideas.shop::lang.order.total')) ?></p></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($product as $row) {?>
        <tr>
            <td>
                <?php echo $row['name'] ?>
                <?php if ($row['product']['product_type'] == \Ideas\Shop\Models\Products::PRODUCT_TYPE_DOWNLOADABLE) {?>
                <div id="send-download-link" class="btn-download-link"
                     attr-email="<?php echo $data['shipping_email'] ?>"
                     attr-product-id="<?php echo $row['product_id'] ?>"
                     attr-link="<?php echo $row['download']['link']?>">Send link</div>
                <?php } ?>
            </td>
            <td><?php echo $row['qty'] ?></td>
            <td><?php echo Ideas\Shop\Models\IdeasShop::displayPriceAndCurrency($row['price_after_tax']) ?></td>
            <td><?php echo Ideas\Shop\Models\IdeasShop::displayPriceAndCurrency($row['qty'] * $row['price_after_tax'])?></td>
        </tr>
        <?php } ?>
        <tr>
            <td class="no-border-right"></td>
            <td class="no-border-right"></td>
            <td class="text-bold"><?php echo e(trans('ideas.shop::lang.order.shipping_cost')) ?></td>
            <td><?php echo Ideas\Shop\Models\IdeasShop::displayPriceAndCurrency($data['shipping_cost']) ?></td>
        </tr>
        <tr>
            <td class="no-border-right"></td>
            <td class="no-border-right"></td>
            <td class="text-bold"><?php echo e(trans('ideas.shop::lang.order.total')) ?></td>
            <td><?php echo Ideas\Shop\Models\IdeasShop::displayPriceAndCurrency($data['total']) ?></td>
        </tr>
        </tbody>
    </table>
</div>