<div id="order-data" style="display: none"><?php echo json_encode($data) ?></div>
<div id="product-data" style="display: none"><?php echo json_encode($product) ?></div>
<div class="row">
    <div class="col-md-6">
        <div id="order-product-title">
        <div class="text-bold pull-left p-order-product-title"><?php echo e(trans('ideas.shop::lang.order.order')) ?></div>
        <a href="<?php echo $invoiceUrl; ?>" id="btn-print-invoice" target="_blank">
            <?php echo e(trans('ideas.shop::lang.order.print_invoice')) ?>
        </a>
        </div>
        <table class="table-bordered table-order">
            <thead>
            <tr>
                <th><?php echo e(trans('ideas.shop::lang.order.billing_address')) ?></th>
                <th><?php echo e(trans('ideas.shop::lang.order.shipping_address')) ?></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><?php echo $data['billing_name'] ?></td>
                <td><?php echo $data['shipping_name'] ?></td>
            </tr>
            <tr>
                <td><?php echo $data['billing_address'] ?></td>
                <td><?php echo $data['shipping_address'] ?></td>
            </tr>
            <tr>
                <td><?php echo $data['city_billing_name'] ?></td>
                <td><?php echo $data['city_shipping_name'] ?></td>
            </tr>
            <tr>
                <td><?php echo $data['billing_phone'] ?></td>
                <td><?php echo $data['shipping_phone'] ?></td>
            </tr>
            <tr>
                <td><?php echo $data['billing_email'] ?></td>
                <td><?php echo $data['shipping_email'] ?></td>
            </tr>
            <tr>
                <td><?php echo $data['billing_post_code'] ?></td>
                <td><?php echo $data['shipping_post_code'] ?></td>
            </tr>
            <tr>
                <td colspan="2"><?php echo e(trans('ideas.shop::lang.order.shipping')) ?> :
                    <?php echo $data['shipping_rule_name'] ?></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <div id="order-product-title">
            <div class="text-bold pull-left p-order-product-title"><?php echo e(trans('ideas.shop::lang.order.product')) ?></div>
            <div id="btn-return-product"><?php echo e(trans('ideas.shop::lang.order.return_order')) ?></div>
        </div>
        <table class="table-bordered table-order">
            <thead>
            <tr>
                <th><?php echo e(trans('ideas.shop::lang.order.product')) ?></th>
                <th><?php echo e(trans('ideas.shop::lang.order.qty')) ?></th>
                <th><?php echo e(trans('ideas.shop::lang.order.price_after_tax')) ?></th>
                <th><?php echo e(trans('ideas.shop::lang.order.total')) ?></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($product as $row) {?>
            <tr>
                <td>
                    <?php echo $row['name'] ?>
                    <?php if ($row['product']['product_type'] == \Ideas\Shop\Models\Products::PRODUCT_TYPE_DOWNLOADABLE) {?>
                    <div id="send-download-link" class="btn-download-link"
                            attr-email="<?php echo $data['shipping_email'] ?>"
                            attr-product-id="<?php echo $row['product_id'] ?>"
                            attr-link="<?php echo $row['download']['link']?>">Send link</div>
                    <?php } ?>
                </td>
                <td><?php echo $row['qty'] ?></td>
                <td><?php echo Ideas\Shop\Models\IdeasShop::displayPriceAndCurrency($row['price_after_tax']) ?></td>
                <td><?php echo Ideas\Shop\Models\IdeasShop::displayPriceAndCurrency($row['qty'] * $row['price_after_tax'])?></td>
            </tr>
            <?php } ?>
            <tr>
                <td colspan="3"><?php echo e(trans('ideas.shop::lang.order.shipping_cost')) ?></td>
                <td><?php echo Ideas\Shop\Models\IdeasShop::displayPriceAndCurrency($data['shipping_cost']) ?></td>
            </tr>
            <tr>
                <td colspan="3"><?php echo e(trans('ideas.shop::lang.order.total')) ?></td>
                <td><?php echo Ideas\Shop\Models\IdeasShop::displayPriceAndCurrency($data['total']) ?></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br/>
<div class="row" id="order-status-change-div">
    <div class="col-md-6">
        <p class="text-bold"><?php echo e(trans('ideas.shop::lang.order.order_payment_status')) ?></p>
        <?php if ($data['payment_status'] ==  \Ideas\Shop\Models\IdeasShop::PAYMENT_STATUS_NOT_PAID) {?>
        <div class="btn-not-paid" attr-order-id="<?php echo $data['id'] ?>" attr-status-change="<?php echo $paid ?>">
            <?php echo e(trans('ideas.shop::lang.order.not_paid')) ?>
        </div>
        <?php } else { ?>
        <div class="btn-paid" attr-order-id="<?php echo $data['id'] ?>" attr-status-change="<?php echo $notPaid ?>">
            <?php echo e(trans('ideas.shop::lang.order.paid')) ?>
        </div>
        <?php } ?>
    </div>
    <div class="col-md-6">

    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p class="text-bold"><?php echo e(trans('ideas.shop::lang.order.comment')) ?></p>
        <p><?php echo $data['comment'] ?></p>
    </div>
    <div class="col-md-6">
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p class="text-bold"><?php echo e(trans('ideas.shop::lang.order.order_status_change')) ?></p>
        <table class="table-bordered table-order">
            <thead>
            <tr>
                <th><?php echo e(trans('ideas.shop::lang.order.created_at')) ?></th>
                <th><?php echo e(trans('ideas.shop::lang.order.comment')) ?></th>
                <th><?php echo e(trans('ideas.shop::lang.order.status')) ?></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($orderStatusConvert as $row) {?>
            <tr>
                <td><?php echo $row['created_at'] ?></td>
                <td><?php echo $row['comment'] ?></td>
                <td><?php echo $row['order_status_name'] ?></td>
            </tr>
            <?php } ?>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <p class="text-bold"><?php echo e(trans('ideas.shop::lang.order.add_order_history')) ?></p>
        <form id="form-add-order-history">
            <input type="hidden" value="<?php echo $id; ?>" name="id" />
            <div class="form-group">
                <label><?php echo e(trans('ideas.shop::lang.order.order_status')) ?></label>
                <select name="order_status_id" class="form-control" id="order-status-change">
                    <?php foreach ($orderStatus as $row) { ?>
                    <option value="<?php echo $row['id']; ?>"
                    <?php echo $data['order_status_id'] == $row['id'] ? 'selected' : '' ?> >
                    <?php echo $row['name']; ?>
                    </option>
                    <?php } ?>
                </select>
            </div>
            <div class="form-group">
                <label><?php echo e(trans('ideas.shop::lang.order.comment')) ?></label>
                <textarea name="comment" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" data-request="onOrderStatusHistory">
                    <?php echo e(trans('ideas.shop::lang.order.submit')) ?></button>
            </div>
        </form>
    </div>
    <span class="btn-text">
        <a href="<?php echo Backend::url('Ideas/Shop/order') ?>"><?php echo e(trans('backend::lang.form.cancel')) ?></a>
    </span>
</div>

<!-- Modal return product -->
<div id="modalReturnProduct" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><?php echo e(trans('ideas.shop::lang.order.return_order')) ?></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label><?php echo e(trans('ideas.shop::lang.order.product')) ?></label>
                    <div id="product-return"></div>
                </div>
                <div class="form-group">
                    <label><?php echo e(trans('ideas.shop::lang.order.reason')) ?></label>
                    <select name="reason_id" id="reason-return-order" class="form-control select2">
                        <?php foreach ($reason as $row) {?>
                        <option value="<?php echo $row['id']?>"><?php echo $row['name'] ?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-blue pull-left" id="create-order-return">
                    <?php echo e(trans('ideas.shop::lang.order.return_order')) ?>
                </div>
                <div class="btn-green pull-right" data-dismiss="modal">Close</div>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function(){
        $('#order-status-change').select2();
    });
</script>