<!-- Footer -->
<footer id="footer" class="py-5 bg-light border-top">
	<div class="container">
		<div class="row">
			<div class="col-lg-2 col-sm-6">
				<h4>CONTACT US</h4>
				<p><i class="fa fa-map-marker-alt"></i> Boss Laser, LLC 608 Trestle Point Sanford, FL 32771 USA</p>
				<p><a href="tel:1 407.878.0880"><i class="fa fa-phone"></i>  1 407.878.0880</a></p>
				<p><a href="mailto:Sales@bosslaser.com"><i class="fa fa-envelope"></i>  Sales@bosslaser.com</a></p>
			</div>
			<div class="col-lg-2 col-sm-6">
				<h4>COMPANY</h4>
				<ul>
					<li><a href="#">About us</a></li>
					<li><a href="#">About us</a></li>
					<li><a href="#">About us</a></li>
					<li><a href="#">About us</a></li>
					<li><a href="#">About us</a></li>
					<li>
						<a title="Click for the Business Review of Boss Laser, LLC, a Lasers in Sanford FL" href="https://www.bbb.org/central-florida/business-reviews/lasers/boss-laser-in-sanford-fl-90314519#sealclick">
							<img src="{{ 'assets/images/spirit.png'|theme }}" alt="">
						</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-2 col-sm-6">
				<h4>WE'RE HERE TO HELP</h4>
				<ul>
					<li><a href="#">About us</a></li>
					<li><a href="#">About us</a></li>
					<li><a href="#">About us</a></li>
				</ul>
			</div>
			<div class="col-lg-2 col-sm-6">
				<h4>SITE INFO</h4>
				<ul>
					<li><a href="#">About us</a></li>
					<li><a href="#">About us</a></li>
					<li><a href="#">About us</a></li>
				</ul>
			</div>
			<div class="col-lg-4 col-sm-6">
				<h4>SIGN UP FOR DISCOUNT OFFERS...</h4>
				<div class="row">
					<div class="col-12">
						<form action="#">
							<label for="" class="text-muted"><small>Register your email so you don't miss out on special offers</small></label>
							<input type="text" name="" />
							<button type="submit">Submit</button>
						</form>
					</div>
				</div>
				<h4 class="my-3">CONNECT WITH US.</h4>
				<ul class="social d-flex">
					<li class="m-2"><a href="#"><i class="fab fa-facebook"></i></a></li>
					<li class="m-2"><a href="#"><i class="fab fa-twitter"></i></a></li>
					<li class="m-2"><a href="#"><i class="fab fa-pinterest"></i></a></li>
					<li class="m-2"><a href="#"><i class="fab fa-youtube"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<img class="img-fw" src="{{ 'assets/images/cc_icons.png'|theme }}" alt="">
			<img class="img-fw" src="{{ 'assets/images/comodo_secure_76x26_white.png'|theme }}" alt="">
			<address>
				&copy; 2018 - {{ "now"|date("Y") }} Boss Laser, LLC. All Rights Reserved.
			</address>
		</div>
	</div>
	<!-- /.container -->
</footer>