<!-- Navigation -->
<nav id="layout-nav" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
	<div class="container">
		<a class="navbar-brand" href="{{ 'home'|page }}">
			<img src="{{ 'assets/images/boss_laser_logo.png'|theme }}" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Laser Machinery
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Applications</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Support Videos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Accessories</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Discounts</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Financing</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

