<?php echo $this->makePartial('plugins/ideas/shop/controllers/baseview/list_toolbar') ?>

<input type="hidden" id="admin_url" value="<?php echo Backend::url('/') ?>" />

<!-- choose product type -->
<div class="control-popup modal fade" id="modalChooseType">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div id="button-choose">
                    Choose Product Type :<br/><br/>
                    <?php
                    $typeSimple = \Ideas\Shop\Models\Products::PRODUCT_TYPE_SIMPLE;
                    $typeDownloadable = \Ideas\Shop\Models\Products::PRODUCT_TYPE_DOWNLOADABLE;
                    ?>
                    <a href="<?php echo Backend::url('ideas/shop/products/create?type='.$typeSimple) ?>"
                       class="btn btn-primary"><?php echo trans('ideas.shop::lang.product_type.simple')?></a>
                    <a href="javascript:void(0)" id="choose-configurable" class="btn btn-primary">
                        <?php echo trans('ideas.shop::lang.product_type.configurable')?>
                    </a>
                    <a href="<?php echo Backend::url('ideas/shop/products/create?type='.$typeDownloadable) ?>"
                       class="btn btn-primary"><?php echo trans('ideas.shop::lang.product_type.downloadable')?></a>
                    <?php echo $this->fireViewEvent('ideas.shop.product.extendChooseProductType') ?>
                </div>

                <div id="filter-choose">
                    <?php $filter = \Ideas\Shop\Models\Filter::getAllFilter();?>
                    <?php foreach ($filter as $key => $value) { ?>
                        <div class="checkbox custom-checkbox">
                            <input type="checkbox" class="filter-choose" name="filter[]"
                                   id="checkbox<?php echo $key; ?>" value="<?php echo $key ?>" />
                            <label for="checkbox<?php echo $key; ?>"><?php echo $value ?></label>
                        </div>
                    <?php } ?>
                    <br/>
                    <div class="btn btn-default" id="back-to-choose"><?php echo e(trans('ideas.shop::lang.general.back')) ?></div>
                    <div class="btn btn-primary" id="choose-filter-configurable">
                        <?php echo e(trans('ideas.shop::lang.general.choose_filter')) ?>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


