description = "Default layout"
==
<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="{{ this.page.meta_description }}">
	<meta name="author" content="SEO Egypt">
	<meta name="title" content="{{ this.page.meta_title }}">
	<link rel="icon" type="image/png" href="{{ 'assets/images/boss_laser_logo.png'|theme }}">

	<title>Bosslaser - {{ this.page.title }}</title>

	<!-- Bootstrap core CSS -->
	<link href="{{ 'assets/css/bootstrap.min.css'|theme }}" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link href="{{ 'assets/css/ion.rangeSlider.css'|theme }}" rel="stylesheet">
	<link href="{{ 'assets/css/ion.rangeSlider.skinHTML5.css'|theme }}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{{ 'assets/css/style.css'|theme }}" rel="stylesheet">

</head>

<body>

	{% partial 'site/header' %}

	<!-- Page Content -->
	{% page %}

	{% partial 'site/footer' %}

	<!-- Bootstrap core JavaScript -->
	<script src="{{ 'assets/javascript/jquery.min.js'|theme }}"></script>
	<script src="{{ 'assets/javascript/bootstrap.bundle.min.js'|theme }}"></script>
	<script src="{{ 'assets/javascript/ion.rangeSlider.min.js'|theme }}"></script>
	<script>
		$("#example_id").ionRangeSlider({
			grid: true,
			min: 0,
			max: 2,
			from: 1,
			prefix: "&Prime;",
			values: [0, 1, 2]
		});
	</script>
</body>

</html>
