description = "Default layout"
==
<!DOCTYPE html>
<html class="no-js" lang="en-US"><head>

  <!-- Meta Tags -->
  <meta charset="utf-8">
	<meta name="description" content="{{ this.page.meta_description }}">
	<meta name="author" content="SEO Egypt">
	<meta name="title" content="{{ this.page.meta_title }}">
	<link rel="icon" type="image/png" href="{{ 'assets/new/images/boss_laser_logo.png'|theme }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">



  <!--Shortcut icon-->

  <title>HP MODELS – Boss Lasers</title>
  <meta name="robots" content="noindex,follow">

  <link rel="stylesheet" id="contact-form-7-css" href="{{ 'assets/new/plugins/contact-form-7/css/styles.css'|theme }}" type="text/css" media="all">
  <link rel="stylesheet" id="rs-plugin-settings-css" href="{{ 'assets/new/plugins/revslider/css/settings.css'|theme }}" type="text/css" media="all">
  <style id="rs-plugin-settings-inline-css" type="text/css">
  #rs-demo-id {}
</style>
<link rel="stylesheet" id="dashicons-css" href="{{ 'assets/new/css/dashicons.min.css'|theme }}" type="text/css" media="all">
<link rel="stylesheet" id="sportspress-general-css" href="{{ 'assets/new/plugins/sportspress/css/sportspress.css'|theme }}" type="text/css" media="all">
<link rel="stylesheet" id="sportspress-icons-css" href="{{ 'assets/new/plugins/sportspress/css/icons.css'|theme }}" type="text/css" media="all">
<link rel="stylesheet" id="sportspress-roboto-css" href="//fonts.googleapis.com/css?family=Roboto%3A400%2C500&amp;subset=cyrillic%2Ccyrillic-ext%2Cgreek%2Cgreek-ext%2Clatin-ext%2Cvietnamese&amp;ver=2.3" type="text/css" media="all">
<link rel="stylesheet" id="sportspress-style-css" href="{{ 'assets/new/plugins/sportspress/css/sportspress-style.css'|theme }}" type="text/css" media="all">
<link rel="stylesheet" id="sportspress-style-ltr-css" href="{{ 'assets/new/plugins/sportspress/css/sportspress-style-ltr.css'|theme }}" type="text/css" media="all">
<link rel="stylesheet" id="woocommerce-layout-css" href="{{ 'assets/new/plugins/woocommerce/css/woocommerce-layout.css'|theme }}" type="text/css" media="all">
<link rel="stylesheet" id="woocommerce-layout-css" href="{{ 'assets/new/plugins/woocommerce/css/woocommerce.css'|theme }}" type="text/css" media="all">
<link rel="stylesheet" id="woocommerce-smallscreen-css" href="{{ 'assets/new/plugins/woocommerce/css/woocommerce-smallscreen.css'|theme }}" type="text/css" media="only screen and (max-width: 768px)">
<link rel="stylesheet" id="rgs-css" href="{{ 'assets/new/plugins/salient/css/rgs.css'|theme }}" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-css" href="{{ 'assets/new/plugins/salient/css/font-awesome.min.css'|theme }}" type="text/css" media="all">
<link rel="stylesheet" id="main-styles-css" href="{{ 'assets/new/css/style.css'|theme }}" type="text/css" media="all">
<link rel="stylesheet" id="main-styles-css" href="{{ 'assets/new/plugins/salient/css/style.css'|theme }}" type="text/css" media="all">
<style id="main-styles-inline-css" type="text/css">
html:not(.page-trans-loaded) { background-color: #ffffff; }
</style>
<link rel="stylesheet" id="magnific-css" href="{{ 'assets/new/plugins/salient/css/magnific.css'|theme }}" type="text/css" media="all">
<!--[if lt IE 9]>
<link rel='stylesheet' id='nectar-ie8-css'  href='assets/new/plugins/salient/css/ie8.css?ver=4.8.6' type='text/css' media='all' />
<![endif]-->
<link rel="stylesheet" id="responsive-css" href="{{ 'assets/new/plugins/salient/css/responsive.css'|theme }}" type="text/css" media="all">
<link rel="stylesheet" id="woocommerce-css" href="{{ 'assets/new/plugins/salient/css/woocommerce.css'|theme }}" type="text/css" media="all">
<link rel="stylesheet" id="skin-ascend-css" href="{{ 'assets/new/plugins/salient/css/ascend.css'|theme }}" type="text/css" media="all">
<link rel="stylesheet" id="tablepress-default-css" href="{{ 'assets/new/plugins/tablepress/css/default.min.css'|theme }}" type="text/css" media="all">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- <script type="text/javascript" src="{{ 'assets/new/js/jquery-migrate.min.js'|theme }}"></script> -->
<!-- <script type="text/javascript" src="assets1/plugins/revslider/js/jquery.themepunch.tools.min.js?ver=5.4.5.2"></script>
<script type="text/javascript" src="assets1/plugins/revslider/js/jquery.themepunch.revolution.min.js?ver=5.4.5.2"></script> -->
<!-- <script type="text/javascript" src="{{ 'assets/new/plugins/salient/js/modernizr.js'|theme }}"></script> -->
<link rel="stylesheet" href="{{ 'assets/new/css/test.css'|theme }}">

</head>


<body class="canvase-off archive tax-product_cat term-laser-machines-hp-series term-31 woocommerce woocommerce-page ascend wpb-js-composer js-comp-ver-5.2.1 vc_responsive" data-footer-reveal="1" data-header-format="default" data-header-breakpoint="1100" data-footer-reveal-shadow="small" data-dropdown-style="classic" data-cae="easeOutCubic" data-megamenu-width="contained" data-cad="750" data-aie="none" data-ls="magnific" data-apte="standard" data-hhun="0" data-fancy-form-rcs="default" data-form-style="minimal" data-form-submit="regular" data-is="minimal" data-button-style="slightly_rounded" data-header-inherit-rc="false" data-header-search="false" data-animated-anchors="true" data-ajax-transitions="true" data-full-width-header="false" data-slide-out-widget-area="true" data-slide-out-widget-area-style="slide-out-from-right" data-user-set-ocm="off" data-loading-animation="none" data-bg-header="false" data-ext-responsive="true" data-header-resize="1" data-header-color="custom" data-transparent-header="false" data-cart="true" data-smooth-scrolling="0" data-permanent-transparent="false" data-responsive="1">


  <div id="header-space" data-header-mobile-fixed="1"></div>
  <div id="header-outer" data-has-menu="true" data-using-pr-menu="false" data-mobile-fixed="1" data-ptnm="false" data-lhe="animated_underline" data-user-set-bg="#ffffff" data-format="default" data-permanent-transparent="false" data-megamenu-rt="0" data-remove-fixed="0" data-cart="true" data-transparency-option="0" data-box-shadow="small" data-shrink-num="6" data-full-width="false" data-using-secondary="0" data-using-logo="1" data-logo-height="30" data-m-logo-height="30" data-padding="25" data-header-resize="1">


    {% partial 'new/header' %}

    <div class="cart-outer" data-user-set-ocm="off" data-cart-style="slide_in">
      <div class="cart-menu-wrap">
        <div class="cart-menu">
          <a class="cart-contents" href="{{ url('/') }}">
            <div class="cart-icon-wrap"><i class="icon-salient-cart"></i>
              <div class="cart-wrap">
                <span>3 </span>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="cart-notification">
        <span class="item-name"></span> was successfully added to your cart.</div>
      </div>

      <div class="ns-loading-cover"></div>
    </div><!--/header-outer-->

    <div class="nectar-slide-in-cart">
      <div class="widget woocommerce widget_shopping_cart">
        <h2 class="widgettitle"> </h2>
        <div class="widget_shopping_cart_content"></div>
      </div>
    </div>

    <div id="ajax-loading-screen" data-disable-fade-on-click="0" data-effect="standard" data-method="standard" style="display: none;">
      <div class="loading-icon none" style="display: none;">
        <div class="material-icon">
          <div class="spinner">
            <div class="right-side"><div class="bar"></div></div>
            <div class="left-side"><div class="bar"></div></div>
          </div>
          <div class="spinner color-2">
            <div class="right-side"><div class="bar"></div></div>
            <div class="left-side"><div class="bar"></div></div>
          </div>
        </div>
      </div>
    </div>

    <div id="ajax-content-wrap">
      <div class="container-wrap">
        <div class="container main-content">
          <div class="row">

            {% partial 'new/sidebar' %}

            <div id="post-area" class="col span_9 col_last">
              <a id="show-canvase" href="#">
                <i class="fa fa-angle-right"></i>
                <i class="fa fa-angle-left"></i>
              </a>
              <header class="woocommerce-products-header"></header>
              {% page %}
            </div>
          </div>
        </div>
      </div>

      {% partial 'new/footer' %}



      <div id="slide-out-widget-area-bg" class="slide-out-from-right dark"></div>
      <div id="slide-out-widget-area" class="slide-out-from-right" data-back-txt="Back">
        <div class="inner" data-prepend-menu-mobile="false">
          <a class="slide_out_area_close" href="#"><span class="icon-salient-x icon-default-style"></span></a>
          <div class="off-canvas-menu-container mobile-only">
            <ul class="menu">
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-550"><a href="{{ url('/') }}/products/">LASER MACHINES</a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-520"><a href="http://#">APPLICATIONS</a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-521"><a href="http://#">SUPPORT</a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-522"><a href="http://#">VIDEOS</a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-523"><a href="http://#">ACCESSORIES</a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-524"><a href="http://#">DISCOUNTS</a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-525"><a href="http://#">FINANCING</a></li>
            </ul>
          </div>
        </div>
        <div class="bottom-meta-wrap"></div><!--/bottom-meta-wrap-->
      </div>
    </div> <!--/ajax-content-wrap-->


<a id="to-top" class=""><i class="fa fa-angle-up"></i></a>

<!-- <script type="text/javascript" src="assets1/plugins/contact-form-7/includes/js/scripts.js?ver=4.8.1"></script>
<script type="text/javascript" src="assets1/plugins/sportspress/js/jquery.dataTables.min.js?ver=1.10.4"></script>
<script type="text/javascript" src="assets1/plugins/sportspress/js/jquery.countdown.min.js?ver=2.0.2"></script>
<script type="text/javascript" src="assets1/plugins/sportspress/js/sportspress.js?ver=2.4.2"></script>
<script type="text/javascript" src="assets1/plugins/salient/js/magnific.js?ver=7.0.1"></script>
<script type="text/javascript" src="assets1/plugins/salient/js/isotope.min.js?ver=7.6"></script>
<script type="text/javascript" src="assets1/plugins/salient/js/superfish.js?ver=1.4.8"></script>
<script type="text/javascript" src="assets1/plugins/salient/js/init.js?ver=8.0.1"></script>
<script type="text/javascript" src="assets1/plugins/salient/js/touchswipe.min.js?ver=1.0"></script> -->

  <script type="text/javascript">
    var filter_data = [];
    (function($){
      $('#show-canvase').on('click', function(e){
        e.preventDefault();
        if($('body.canvas-off').length){
          $('body').removeClass('canvas-off');
        }else {
          $('body').addClass('canvas-off');
        }
      });


      $('.filter').on('click', function(e){
        e.preventDefault();
        if($(this).hasClass('active')){
          $(this).removeClass('active');
        }else {
          $(this).addClass('active');
        }
        update_filter_products();
      });
    })(jQuery);

    $.fn.extend({
      hasClasses: function (selectors) {
        var self = this;
        for (var i in selectors) {
            if ($(self).hasClass(selectors[i]))
                return true;
        }
        return false;
      }
    });

    function update_filter_products(){
      (function($){
        var i = 0;
        $filter = $('.filter.active');
        if($filter.length){
          $filter.each(function(index, element){
            filter_data[i] = $(element).data('filter-query');
            i++;
          });
          var data = filter_data.join(',');
          $('.product').each(function(index, element1){
            if($(element1).hasClasses(filter_data)){
              $(element1).removeClass('hidden');
            }else{
              $(element1).addClass('hidden');
            }
          });
          // $('.product').hasClass(filter_data.join(',')).removeClass('hidden');
          // $('.product').not(filter_data.join(',')).addClass('hidden');
        }else{
          filter_data = [];
        }
      })(jQuery);
    }
  </script>
</body>
</html>
