{% set banner = __SELF__.showBanner %}
{% if banner.dummy == 1 %}
    {% if banner.dummy_type == 0 %}
        <img class="img-responsive" src="http://via.placeholder.com/{{banner.config.width}}x{{banner.config.height}}">
    {% else %}
        <img class="img-responsive" src="{{banner.dummy_image.path}}">
    {% endif %}
{% else %}
    {% if banner.type == 0 %}
        <a id="banner_{{banner.id}}" href="{{banner.link}}" target="_blank">
            <img class="img-responsive" src="{{banner.banner_image.path}}">
        </a>
    {% else %}
        {{banner.banner_code|raw}}
    {% endif %}
{% endif %}


{% put scripts %}
<script>
    $('a#banner_{{banner.id}}').on('click', function() {
        $(this).request('onClick', {data: {id: '{{banner.id}}'}});
    });
</script>
{% endput %}