<?php if ($value == 1) { ?>
    <span class="oc-icon-circle text-success">
        Active
    </span>
<?php } else { ?>
    <span class="oc-icon-circle text-muted">
        Paused
    </span>
<?php } ?>