subject = "Sample Newsletter"
description = "This is a sample newsletter"
==
<p><strong>Hello {{ user.name }} {{ user.surname }}</strong></p>

<p>Use this promo code to get access to a special discount: promo2018</p>

<p>{{email_action_first}}</p>
<p>{{email_action_second}}</p>

<hr>
<p style="text-align: center;">This Email was sent by {{ email_sender }} to {{ user.email }}</p>
<p style="text-align: center;">Samle Company, Sample Way, 00000 Sample City</p>
<p style="text-align: center;"><a href="{{ email_unsubscribe }}">Unsubscribe</a></p>
<img alt="" src="{{ email_pixel }}" style="width: 1px; height: 1px;">