title = "Plugin components"
url = "/demo/plugins"
layout = "default"
meta_title = "Plugin components"
meta_description = "Plugin components"
robot_index = "index"
robot_follow = "follow"

[demoTodo]
max = 3
==
<div class="jumbotron title-js">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>Plugin components</h1>
                <p>Plugins can provide components, simple building blocks that enrich any page or layout. Check out the todo example below.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% component 'demoTodo' %}
</div>

<!-- Page Explanation -->
<div class="container">{% partial "explain/plugins.htm" %}</div>

<br />

<div class="text-center">
    <p><a target="_blank" href="http://octobercms.com/docs" class="btn btn-lg btn-default">Learn more at October's Documentation</a></p>
</div>