<div class="category-top">
    <img class="img-responsive" src="{{image_header_bottom | media}}" />
</div>
<div class="container" id="breadcrumb-div">
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Cart</a></li>
        </ul>
    </div>
</div>
<div class="container" id="cart-div">

</div>