<?php if ($formModel->id) { ?>
Exclude persons, that meet 
<div style="display: inline-block;" class="form-group dropdown-field w-100 p-a-0">
    <select name="Campaigns[excl_method]" class="form-control custom-select">
        <option <?php if ($formModel->excl_method == 'all') { ?>selected="selected" <?php } ?>value="all">ALL</option>
        <option <?php if ($formModel->excl_method == 'any' or !$formModel->excl_method) { ?>selected="selected" <?php } ?>value="any">ANY</option>
    </select>
</div>
 of these conditions:
 
<div style="background-color: #d8d8d8; border-radius: 5px;" id="exclude-conditions" class="m-t m-b p-a">
    <div id="excl-container" class="m-b">
        Loading...
    </div>
    
    <div style="display: inline-block;" class="form-group dropdown-field p-a-0">
        <select onchange="onChangeSelect('excl')" id="excl-type" class="form-control custom-select">
            <option selected="selected" value="acc_days_old">Account is more than ... days old</option>
            <option value="not_logged_in">Not logged in for more than ... days</option>
            <option value="in_user_group">Is in user group</option>
            <option value="has_opened">Has opened mail from Campaign</option>
            <option value="has_clicked">Has clicked in mail from Campaign</option>
            <option value="has_received">Has received mail from Campaign</option>
            <option value="is_delay">Not received email for more than ... days</option>
        </select> 
    </div>
    
    <div style="display: inline-block;" class="form-group text-field p-a-0">
        <input id="excl-content" type="text" name="" value="" placeholder="days" class="form-control" />
    </div>
    
    <button onclick="addCondition('excl'); return false;" class="btn btn-primary oc-icon-plus">Add</button>
</div>


<script>
$(document).ready(function() {
    $.request('onGetConditions', {data: {}, complete: function(s) { renderConditions(s.responseJSON); }});
});


function isNumeric(n) {
  return !isNaN(parseFloat(n)) && isFinite(n);
}

function validateInput(type, content) {
    if (type == 'acc_days_old' || type == 'not_logged_in' || type == 'is_delay') {
        if (!isNumeric(content)) {
            alert("Input must be a number!");
            return false;
        }
        return true;
    }
    
    if (content.indexOf(" ") >= 0) { //strings
        alert("Slugs can not contain any spaces! Please check your input!");
        return false;
    }
    return true;
}

function onChangeSelect(type) {
    var prop = $('#' + type + '-type').val();
    
    
    switch(prop) {
        case 'acc_days_old':
        case 'not_logged_in':
        case 'is_delay':
            $('#' + type + '-content').attr('placeholder', 'days');
            break;
        case 'in_user_group':
            $('#' + type + '-content').attr('placeholder', 'group slug');
            break;
        default:
            $('#' + type + '-content').attr('placeholder', 'campaign slug');
            break;
    }
}


function addCondition(method) {
    var type = $('#' + method + '-type').val();
    var content = $('#' + method + '-content').val();
    
    if (!validateInput(type, content)) return false;
    
    $('#' + method + '-type').val('acc_days_old').change();
    $('#' + method + '-content').val('');
    
    $.request('onConditionAdd', {data: {'property':method, 'type':type, 'content':content}, complete: function(s) { renderConditions(s.responseJSON); }});
}

function renderConditions(s) {
    var incl_html = '';
    var excl_html = '';
    
    for(var i=0; i < s.length; i++) {
        var html = '<div data-id="' + s[i].id + '">';
        
        switch(s[i].type) {
            case 'acc_days_old':
                html += "Account is more than <strong>" + s[i].content + "</strong> days old";
                break;
                
            case 'not_logged_in':
                html += "User has not logged in for more than <strong>" + s[i].content + "</strong> days";
                break;
                
            case 'in_user_group':
                html += "User belongs to user group <strong>" + s[i].content + "</strong>";
                break;
                
            case 'has_opened':
                html += "User has opened his mail from the <strong>" + s[i].content + "</strong> Campaign";
                break;
                
            case 'has_clicked':
                html += "User has clicked in mail from the <strong>" + s[i].content + "</strong> Campaign";
                break;
                
            case 'has_received':
                html += "User has received mail from the <strong>" + s[i].content + "</strong> Campaign";
                break;
                
            case 'is_delay':
                html += "User has not received mail for more than <strong>" + s[i].content + "</strong> days";
                break;
                
            default:
                html += s[i].type + " " + s[i].content;
                break;
        }
        
        
        html += '  <button class="btn btn-danger btn-xs" onclick="removeCondition(' + s[i].id + '); return false;">x</button>';
        html += '</div>';
        
        if (s[i].property == 'incl') {
            incl_html += html;
        } else {
            excl_html += html;
        }
    }
    
    if (incl_html == '') {
        incl_html = "All users";
    }
    
    $('#incl-container').html(incl_html);
    $('#excl-container').html(excl_html);
}

function removeCondition(id) {
    $.request('onConditionRemove', {data: {'id':id}, complete: function(s) { renderConditions(s.responseJSON); }});
}
    
</script>

<?php } ?>