<?php if ($formModel->id) { ?>
<h4>Target Audience</h4>
<p class="help-block">Here, you can define the conditions that have to be met by each user, before he gets this email. If no condition is specified and the campaign is active, the email will be sent to all users at once.</p>
<br>

Include persons, that meet 
<div style="display: inline-block;" class="form-group dropdown-field w-100 p-a-0">
    <select name="Campaigns[incl_method]" class="form-control custom-select">
        <option <?php if ($formModel->incl_method == 'all' or !$formModel->incl_method) { ?>selected="selected" <?php } ?>value="all">ALL</option>
        <option <?php if ($formModel->incl_method == 'any') { ?>selected="selected" <?php } ?>value="any">ANY</option>
    </select> 
</div>
of these conditions:<br>

<div style="background-color: #d8d8d8; border-radius: 5px;" id="add-conditions" class="m-t m-b p-a">
    <div id="incl-container" class="m-b">
        Loading...
    </div>
    
    <div style="display: inline-block;" class="form-group dropdown-field p-a-0">
        <select onchange="onChangeSelect('incl')" id="incl-type" class="form-control custom-select">
            <option selected="selected" value="acc_days_old">Account is more than ... days old</option>
            <option value="not_logged_in">Not logged in for more than ... days</option>
            <option value="in_user_group">Is in user group</option>
            <option value="has_opened">Has opened mail from Campaign</option>
            <option value="has_clicked">Has clicked in mail from Campaign</option>
            <option value="has_received">Has received mail from Campaign</option>
            <option value="is_delay">Not received email for more than ... days</option>
        </select> 
    </div>
    
    <div style="display: inline-block;" class="form-group text-field p-a-0">
        <input id ="incl-content" type="text" name="" value="" placeholder="days" class="form-control" />
    </div>
    
    <button onclick="addCondition('incl'); return false;" class="btn btn-primary oc-icon-plus">Add</button>
</div>

<hr>
    
<?php } ?>