<div data-control="toolbar">
    <button
        class="btn btn-default oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onDelete"
        data-request-confirm="<?= e(trans('backend::lang.list.delete_selected_confirm')) ?>"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', true)"
        data-stripe-load-indicator>
        Delete selected
    </button>
    
    <a
        class="btn btn-default oc-icon-plus"
        href="<?= Backend::url('marcelhaupt/email/emails/create') ?>">
        Add new
    </a>
    
    <a href="?dlcsv" class="btn btn-danger oc-icon-download">Download Emails</a>
</div>
