<div class="toolbar-item toolbar-primary">
    <div data-control="toolbar">

    
                    <a
    data-control="popup"
    data-size="huge"
    data-handler="onRelationButtonCreate"
    href="javascript:;"
    class="btn btn-sm btn-secondary oc-icon-file">
    Create Actions</a>
        
    
                    <!--<a
    data-control="popup"
    data-size="huge"
    data-handler="onRelationButtonAdd"
    href="javascript:;"
    class="btn btn-sm btn-secondary oc-icon-plus">
    Add Actions</a>-->
        
    
                        <button
        class="btn btn-sm btn-secondary oc-icon-trash-o"
        onclick="$(this).data('request-data', {
            checked: $('#Emails-update-RelationController-actions-view .control-list').listWidget('getChecked')
        })"
        disabled="disabled"
        data-request="onRelationButtonDelete"
        data-request-confirm="Are you sure?"
        data-trigger-action="enable"
        data-trigger="#Emails-update-RelationController-actions-view .control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-stripe-load-indicator>
        Delete    </button>
        
    
                        <!--<button
        class="btn btn-sm btn-secondary oc-icon-minus"
        onclick="$(this).data('request-data', {
            checked: $('#Email-update-RelationController-actions-view .control-list').listWidget('getChecked')
        })"
        disabled="disabled"
        data-request="onRelationButtonRemove"
        data-trigger-action="enable"
        data-trigger="#Email-update-RelationController-actions-view .control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-stripe-load-indicator>
        Remove    </button>-->
        
    
    </div>
</div>