<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('marcelhaupt/email/emails') ?>">Campaigns</a></li>
    </ul>
<?php Block::endPut() ?>




<h1 class="m-a">
    <span style="display: inline-block;">
        Campaigns
    </span>
    
    <span style="display: inline-block; vertical-align: middle; font-size: 16px; padding-left: 10px;">
        <a href="https://octobercms.com/plugin/marcelhaupt-email">Documentation</a>
    </span>
</h1>


<div class="scoreboard">
    <div data-control="toolbar">
        <div class="scoreboard-item control-chart" data-control="chart-pie">
            <ul>
                <li data-color="#95b753">Clicked <span><?= $total_clicks ?></span></li>
                <li data-color="#e5a91a">Opened / No Click <span><?= $total_openings-$total_clicks ?></span></li>
                <li data-color="#cc3300">Unopened <span><?= $total_sent-$total_openings ?></span></li>
            </ul>
        </div>


        <div class="scoreboard-item title-value">
            <h4>Sent Emails</h4>
            <p><?= $total_sent ?></p>
            <p class="description">total</p>
        </div>

        <!--
        <div class="scoreboard-item title-value">
            <h4>Sent this Month</h4>
            <p class="positive">44</p>
            <p class="description">previous month: 32</p>
        </div>

        <div class="scoreboard-item title-value">
            <h4>Opened this Month</h4>
            <p class="negative">31</p>
            <p class="description">previous: 42</p>
        </div>
        
        <div class="scoreboard-item title-value">
            <h4>Clicks this Month</h4>
            <p class="negative">12</p>
            <p class="description">previous: 42</p>
        </div>-->

        <?php $total_opening_rate = ($total_sent == 0)? 0 : round($total_openings*100/$total_sent); ?>
        <div class="scoreboard-item title-value" data-control="goal-meter" data-value="<?= $total_opening_rate ?>">
            <h4>Open Rate</h4>
            <p><?= $total_opening_rate ?>%</p>
            <p class="description"><?= $total_openings ?> total</p>
        </div>

        <?php $total_click_rate = ($total_openings == 0)? 0 : round($total_clicks*100/$total_openings); ?>
        <div class="scoreboard-item title-value" data-control="goal-meter" data-value="<?= $total_click_rate ?>">
            <h4>Click Rate</h4>
            <p><?= $total_click_rate ?>%</p>
            <p class="description"><?= $total_clicks ?> total</p>
        </div>
        
        <?php $unsub_rate = ($user_count == 0)? 0 : round($unsub_count*100/$user_count); ?>
        <div class="scoreboard-item title-value" data-control="goal-meter" data-value="<?= (100-$unsub_rate) ?>">
            <h4>Unsubscribe Rate</h4>
            <p><?= $unsub_rate ?>%</p>
            <p class="description"><?= $unsub_count ?> total</p>
        </div>
    </div>
</div>

<br>
<br>
<?= $this->listRender() ?>


<script>
    
    
</script>
