<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('marcelhaupt/email/emails') ?>">Campaigns</a></li>
        <li><?= $formModel->name ?></li>
    </ul>
<?php Block::endPut() ?>

<h1 class="m-b m-t">
    <span style="display: inline-block;">
    <?= $formModel->name ?> 
    </span>
    
    <span style="display: inline-block; vertical-align: middle; font-size: 16px; padding-left: 10px;">
    <?php if ($formModel->is_active == 1) { ?>
    <span class="oc-icon-circle text-success">
        Active
    </span>
    <?php } else { ?>
    <span class="oc-icon-circle text-muted">
        Paused
    </span>
    <?php } ?>
    </span>
</h1>

<?php if (!$this->fatalError): ?>

<div class="scoreboard">
    <div data-control="toolbar">
        <div class="scoreboard-item control-chart" data-control="chart-pie">
            <ul>
                <li data-color="#95b753">Clicked <span><?= $formModel->emails_clicked ?></span></li>
                <li data-color="#e5a91a">Opened / No Click <span><?= ($formModel->emails_opened-$formModel->emails_clicked) ?></span></li>
                <li data-color="#cc3300">Unopened <span><?= ($formModel->emails_sent-$formModel->emails_opened) ?></span></li>
            </ul>
        </div>


        <div class="scoreboard-item title-value">
            <h4>Sent Emails</h4>
            <p><?= $formModel->emails_sent ?></p>
            <p class="description">total</p>
        </div>

        <!--
        <div class="scoreboard-item title-value">
            <h4>Sent this Month</h4>
            <p class="positive">44</p>
            <p class="description">previous month: 32</p>
        </div>

        <div class="scoreboard-item title-value">
            <h4>Opened this Month</h4>
            <p class="negative">31</p>
            <p class="description">previous: 42</p>
        </div>
        
        <div class="scoreboard-item title-value">
            <h4>Clicks this Month</h4>
            <p class="negative">12</p>
            <p class="description">previous: 42</p>
        </div>-->

        <?php $total_open_rate = ($formModel->emails_sent == 0)? 0:round($formModel->emails_opened * 100 / $formModel->emails_sent); ?>
        <div class="scoreboard-item title-value" data-control="goal-meter" data-value="<?= $total_open_rate ?>">
            <h4>Open Rate</h4>
            <p><?= $total_open_rate ?>%</p>
            <p class="description"><?= $formModel->emails_opened ?> total</p>
        </div>

        <?php $total_clicked_rate = ($formModel->emails_opened == 0)? 0:round($formModel->emails_clicked * 100 / $formModel->emails_opened); ?>
        <div class="scoreboard-item title-value" data-control="goal-meter" data-value="<?= $total_clicked_rate ?>">
            <h4>Click Rate</h4>
            <p><?= $total_clicked_rate ?>%</p>
            <p class="description"><?= $formModel->emails_clicked ?> total</p>
        </div>
        
        <?php $total_unsub_rate = ($formModel->emails_sent == 0)? 0:round($formModel->user_unsubscribed * 100 / $formModel->emails_sent); ?>
        <div class="scoreboard-item title-value" data-control="goal-meter" data-value="<?= 100-$total_unsub_rate ?>">
            <h4>Unsubscribe Rate</h4>
            <p><?= $total_unsub_rate ?>%</p>
            <p class="description"><?= $formModel->user_unsubscribed ?> total</p>
        </div>
    </div>
</div>
<p>Campaign Slug: <strong><?= $formModel->slug ?></strong></p>
<p>Email Template: <strong><?= $formModel->email_template ?></strong></p>
<p>Email Subject: <strong><?= $formModel->subject ?></strong></p>


<p>
    <a href="<?= Backend::url('marcelhaupt/email/emails') ?>" class="btn btn-default oc-icon-chevron-left">
        <?= e(trans('backend::lang.form.return_to_list')) ?>
    </a>
    <a
        href="<?= Backend::url('marcelhaupt/email/emails/update/'.$formModel->id) ?>"
        class="btn btn-primary oc-icon-pencil">
        Edit Campaign
    </a>
    <button class="btn btn-info" data-request="onSendTestEmail" data-load-indicator="Sending Test Email..." data-request-confirm="Sending Email to <?= \BackendAuth::getUser()->email ?>. Continue?">Send Test Email</button>
</p>


<hr>
<br>

<h3>Target Audience</h3>

<strong>Include</strong> persons, that meet <strong><?= ($formModel->incl_method == 'all')? 'ALL' : 'ANY'  ?></strong>
of these conditions:<br>
<div style="background-color: #d8d8d8; border-radius: 5px;" id="add-conditions" class="m-t m-b p-a">
    <div id="incl-container">
        Loading...
    </div>
</div>
<hr>
<strong>Exclude</strong> persons, that meet <strong><?= ($formModel->excl_method == 'all')? 'ALL' : 'ANY'  ?></strong>
of these conditions:<br>
<div style="background-color: #d8d8d8; border-radius: 5px;" id="exclude-conditions" class="m-t m-b p-a">
    <div id="excl-container">
        Loading...
    </div>
</div>

<hr>
<br>

<h3>Action Links</h3>
<br>
<?= $this->relationRenderView("actions", ['readOnly' => true]); ?>

<br>
<br>
            

<?php else: ?>
    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
<?php endif ?>



<script>
$(document).ready(function() {
    $.request('onGetConditions', {data: {}, complete: function(s) { renderConditions(s.responseJSON); }});
});


function renderConditions(s) {
    var incl_html = '';
    var excl_html = '';
    
    for(var i=0; i < s.length; i++) {
        var html = '<div data-id="' + s[i].id + '">';
        
        switch(s[i].type) {
            case 'acc_days_old':
                html += "Account is more than <strong>" + s[i].content + "</strong> days old";
                break;
                
            case 'not_logged_in':
                html += "User has not logged in for more than <strong>" + s[i].content + "</strong> days";
                break;
                
            case 'in_user_group':
                html += "User belongs to user group <strong>" + s[i].content + "</strong>";
                break;
                
            case 'has_opened':
                html += "User has opened his mail from the <strong>" + s[i].content + "</strong> Campaign";
                break;
                
            case 'has_clicked':
                html += "User has clicked in mail from the <strong>" + s[i].content + "</strong> Campaign";
                break;
                
            case 'has_received':
                html += "User has received mail from the <strong>" + s[i].content + "</strong> Campaign";
                break;
                
            case 'is_delay':
                html += "User has not received mail for more than <strong>" + s[i].content + "</strong> days";
                break;
                
            default:
                html += s[i].type + " " + s[i].content;
                break;
        }
        
        html += '</div>';
        
        if (s[i].property == 'incl') {
            incl_html += html;
        } else {
            excl_html += html;
        }
    }
    
    if (incl_html == '') {
        incl_html = "All users";
    }
    
    $('#incl-container').html(incl_html);
    $('#excl-container').html(excl_html);
}
</script>
