/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template-overviews/shop-homepage)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-shop-homepage/blob/master/LICENSE)
 */

body {
	padding-top: 54px;
	color:  #595959;
}
.border-bottom {
	border-bottom: 2px solid #aaa!important;
}
body,p{
	font-size: 15px;
}
ul{
	list-style: none;
	padding-left: 5px;
}
.social li a{
	color: #c80000;
	font-size: 25px;
}
.social li a:hover{
	color: #000;
}
a{
	color: #595959;
}
a span{
	color: #c80000;
}
a:hover{
	text-decoration: none;
	color: #2d2d2c;
}
input{
	border: 1px solid #aaa;
}
button{
	background-color: #000;
	color: #fff;
	border: 1px solid #000;
	padding: 1px 10px;
}
button:hover{
	background-color: #fff;
	color: #000;
}
.card-title a{
	font-weight: bold;
}
@media (min-width: 992px) {
	body {
		padding-top: 56px;
	}
}
.navbar-light .navbar-nav .nav-link {
	font-weight: bold;
	color:  #595959;
	text-transform: uppercase;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link:hover{
	border-bottom: 3px solid #c80000;
	color:  #595959;
}
footer .img-fw{
	height: 30px;
}