title = "Product Page"
url = "/product/:slug?"
layout = "product"
is_hidden = 0

[myProductDetail]
slug = "{{ :slug }}"
brandPage = "brand"
==
<nav class="woocommerce-breadcrumb">
  <a href="{{ url('/') }}">Home</a>
  {% if product %}
    {% if product.brand %}
      <i class="fa fa-angle-right"></i> <a href="{{ product.brand.url }}">{{ product.brand.title }}</a>
    {% endif %}
    <i class="fa fa-angle-right"></i> {{ product.title }}
  {% endif %}
</nav>

{% if not product %}
  <h2>Product not found..</h2>
{% else %}

<div itemscope="" data-project-style="classic" data-tab-pos="fullwidth" id="{{ slug }}" class="post-572 product type-product status-publish has-post-thumbnail product_cat-laser-machines-hp-series first instock shipping-taxable purchasable product-type-simple">

  <div class="span_5 col single-product-main-image">

    <div class="images">

      <div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4" style="opacity: 1; transition: opacity 0.25s ease-in-out 0s;">
        <a href="#" class="woocommerce-product-gallery__trigger">🔍</a>
        <div class="flex-viewport" style="overflow: hidden; position: relative; height: 362px;">
          <figure class="woocommerce-product-gallery__wrapper" style="width: 200%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
            <div data-thumb="{{ product.images[0].thumb(auto,130) }}" class="woocommerce-product-gallery__image flex-active-slide" style="width: 345px; float: left; display: block; position: relative; overflow: hidden;">
              <a href="{{ product.images[0].path }}">
                <img src="{{ product.images[0].thumb(auto,630) }}" class="attachment-shop_single size-shop_single wp-post-image" alt="bossHP5598_large_format_laser_cutter" title="bossHP5598_large_format_laser_cutter" data-caption="" data-src="{{ product.images[0].path }}" data-large_image="http://bosslasers.fanscreens.net/wp-content/uploads/2018/05/bossHP5598_large_format_laser_cutter.png{{ product.images[0].path }}" data-large_image_width="704" data-large_image_height="704" draggable="false" width="600" height="630">
              </a>
              <img src="{{ product.images[0].path }}" class="zoomImg" style="position: absolute; top: -154.105px; left: -124.766px; opacity: 0; width: 704px; height: 704px; border: medium none; max-width: none; max-height: none;">
            </div>
          </figure>
        </div>
        <ol class="flex-control-nav flex-control-thumbs">
        </ol>
      </div>
    </div><!--images-->
  </div>
  <div class="span_7 col col_last single-product-summary">
    <div class="summary entry-summary">
      <h1 class="product_title entry-title">{{ product.title }}</h1>
      <p class="price">
        <span class="woocommerce-Price-amount amount">
          {{ product.getFinalPriceFormated }}
        </span>
      </p>
      <div class="woocommerce-product-details__short-description">
        <p>{{ product.short_description|raw }}</p>
      </div>


      <form class="cart" method="post" enctype="multipart/form-data">
        <div class="quantity buttons_added"><input value="-" class="minus" type="button">
          <input class="input-text qty text" step="1" min="1" max="" name="quantity" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" type="number">
          <input value="+" class="plus" type="button"></div>

          <button type="submit" name="add-to-cart" value="572" class="single_add_to_cart_button button alt">Add to cart</button>

        </form>


        <div class="product_meta">



          <span class="posted_in">
            Category: <a href="http://bosslasers.fanscreens.net/product-category/laser-machines-hp-series/" rel="tag">HP MODELS</a>
          </span>
        </div>


        <div id="single-meta" data-sharing="1">

          <ul class="product-sharing">

            <li class="meta-share-count">
              <a href="#">
                <i class="icon-default-style steadysets-icon-share"></i>
                <span class="share-count-total" style="opacity: 1;">0</span>
                <span class="plural" style="opacity: 1; display: inline;">Shares</span>
              </a>
              <div class="nectar-social animated-in in-sight" style="">
                <div class="nectar-social woo animated-in in-sight" style="">
                  <a class="facebook-share nectar-sharing" href="#" title="Share this">
                    <i class="fa fa-facebook"></i>
                    <span class="count" style="display: inline-block; width: auto; opacity: 1;">0</span>
                  </a>
                  <a class="twitter-share nectar-sharing" href="#" title="Tweet this">
                    <i class="fa fa-twitter"></i>
                    <span class="count" style="display: inline-block; width: auto; opacity: 1;">0</span>
                  </a>
                  <a class="google-plus-share nectar-sharing-alt" href="#" title="Share this">
                    <i class="fa fa-google-plus"></i>
                    <span class="count" style="display: inline-block; width: auto; opacity: 1;">0</span>
                  </a>
                  <a class="pinterest-share nectar-sharing" href="#" title="Pin this">
                    <i class="fa fa-pinterest"></i>
                    <span class="count" style="display: inline-block; width: auto; opacity: 1;">0</span>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>

      </div><!-- .summary -->

    </div>
    <div class="after-product-summary-clear"></div>
    <div class="woocommerce-tabs wc-tabs-wrapper full-width-tabs">

      <div class="full-width-content first-section" style="margin-left: 0px; visibility: visible; margin-top: -70px;"> <div class="tab-container container">
        <ul class="tabs">

          <li class="description_tab active">
            <a href="#tab-description">Description</a>
          </li>


          <li class="reviews_tab">
            <a href="#tab-reviews">Reviews (0)</a>
          </li>

        </ul>

      </div></div>

      <div class="panel entry-content" id="tab-description" style="display: block;">
        {{ product.description|raw }}
      </div>


      <div class="panel entry-content" id="tab-reviews" style="display: none;">
        <div id="reviews" class="woocommerce-Reviews">
          <div id="comments">
            <h2 class="woocommerce-Reviews-title">Reviews</h2>


            <p class="woocommerce-noreviews">There are no reviews yet.</p>

          </div>


          <div id="review_form_wrapper">
            <div id="review_form">
              <div id="respond" class="comment-respond">
                <span id="reply-title" class="comment-reply-title">Be the first to review “BOSS-HP5598” <small><a rel="nofollow" id="cancel-comment-reply-link" href="/product/boss-hp5598/#respond" style="display:none;">Cancel reply</a></small></span>			<form action="http://bosslasers.fanscreens.net/wp-comments-post.php" method="post" id="commentform" class="comment-form">
                  <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p><div class="comment-form-rating"><label for="rating">Your rating</label><p class="stars"><span><a class="star-1" href="#">1</a><a class="star-2" href="#">2</a><a class="star-3" href="#">3</a><a class="star-4" href="#">4</a><a class="star-5" href="#">5</a></span></p><select name="rating" id="rating" aria-required="true" required="" style="display: none;">
                    <option value="">Rate…</option>
                    <option value="5">Perfect</option>
                    <option value="4">Good</option>
                    <option value="3">Average</option>
                    <option value="2">Not that bad</option>
                    <option value="1">Very poor</option>
                  </select></div><p class="comment-form-comment"><div class="minimal-form-input textarea"><label for="comment"><span class="text"><span class="text-inner">Your review <span class="required">*</span></span></span></label><textarea id="comment" name="comment" cols="45" rows="8" aria-required="true" required=""></textarea></div></p><p class="comment-form-author"><div class="minimal-form-input"><label for="author"><span class="text"><span class="text-inner">Name <span class="required">*</span></span></span></label><input id="author" name="author" value="" size="30" aria-required="true" required="" type="text"></div> </p>
                  <p class="comment-form-email"><div class="minimal-form-input"><label for="email"><span class="text"><span class="text-inner">Email <span class="required">*</span></span></span></label><input id="email" name="email" value="" size="30" aria-required="true" required="" type="email"></div> </p>
                  <p class="form-submit"><input name="submit" id="submit" class="submit" value="Submit" type="submit"> <input name="comment_post_ID" value="572" id="comment_post_ID" type="hidden">
                    <input name="comment_parent" id="comment_parent" value="0" type="hidden">
                  </p>
                </form>
              </div><!-- #respond -->
            </div>
          </div>


          <div class="clear"></div>
        </div>
      </div>


    </div>

    <div class="clear"></div>

    {% if product.featured|length > 0 %}
      <section class="related products">
        <h2>Related products</h2>

        <ul class="products" data-product-style="classic">
          {% for featuredOProduct in product.featured %}
          <li class="classic post-563 product type-product status-publish has-post-thumbnail product_cat-laser-machines-hp-series first instock shipping-taxable purchasable product-type-simple">

            <a href="{{ featuredOProduct.url }}" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"></a>
            <div class="product-wrap">
              <a href="{{ featuredOProduct.url }}" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"></a>
              <a href="{{ featuredOProduct.url }}">
                <img src="{{ featuredOProduct.images[0].thumb(auto,400) }}" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="" width="375" height="400">
              </a>
              <a rel="nofollow" href="{{ featuredOProduct.url }}?add-to-cart={{ featuredOProduct.id }}" data-quantity="1" data-product_id="{{ featuredOProduct.id }}" data-product_sku="{{ featuredOProduct.sku }}" class="button product_type_simple add_to_cart_button ajax_add_to_cart add_to_cart_button">Add to cart</a>
            </div>
            <h2 class="woocommerce-loop-product__title">{{ featuredOProduct.title }}</h2>
            <span class="price">
              <span class="woocommerce-Price-amount amount">
                {{ featuredOProduct.getFinalPriceFormated }}
              </span>
            </span>
          </li>
          {% endfor %}
        </ul>
      </section>

    {% endif %}

  </div>
{% endif %}
