title = "Filteration"
url = "/"
layout = "default"
meta_title = "Filteration"
meta_description = "Filteration"
robot_index = "index"
robot_follow = "follow"
==
function onStart()
{
    
}
==
<div class="container my-5">
	<div class="row">
		<div class="col-lg-3">
			<form action="">
				<div class="row">
					<h5 class="col-12 my-1">Filter machines <span class="mr-0">?</span></h5>
					<div class="col-12 my-1">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="">
							<label class="form-check-label" for="">
								Laser Machines
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="">
							<label class="form-check-label" for="">
								Laser Engerves
							</label>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<h5 class="col-12 my-1">Materials <span class="mr-0">?</span></h5>
					<div class="col my-1">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="">
							<label class="form-check-label" for="">
								Wood
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="">
							<label class="form-check-label" for="">
								Wood
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="">
							<label class="form-check-label" for="">
								Wood
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="">
							<label class="form-check-label" for="">
								Wood
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="">
							<label class="form-check-label" for="">
								Wood
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="">
							<label class="form-check-label" for="">
								Wood
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="">
							<label class="form-check-label" for="">
								Wood
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="">
							<label class="form-check-label" for="">
								Wood
							</label>
						</div>
					</div>
					<div class="col my-1">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="">
							<label class="form-check-label" for="">
								Wood
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="">
							<label class="form-check-label" for="">
								Wood
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="">
							<label class="form-check-label" for="">
								Wood
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="">
							<label class="form-check-label" for="">
								Wood
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="">
							<label class="form-check-label" for="">
								Wood
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="">
							<label class="form-check-label" for="">
								Wood
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="">
							<label class="form-check-label" for="">
								Wood
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="">
							<label class="form-check-label" for="">
								Wood
							</label>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<h5 class="col-12 my-1">Machine Types <span class="mr-0">?</span></h5>
					<div class="col my-1">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="">
							<label class="form-check-label" for="">
								Wood
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="">
							<label class="form-check-label" for="">
								Wood
							</label>
						</div>
					</div>
					<div class="col my-1">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="">
							<label class="form-check-label" for="">
								Wood
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="">
							<label class="form-check-label" for="">
								Wood
							</label>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<h5 class="col-12 my-1">Filter machines <span class="mr-0">?</span></h5>
					<div class="col-12 my-1">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="">
							<label class="form-check-label" for="">
								Up to 40 inches
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="">
							<label class="form-check-label" for="">
								Up to 40 inches
							</label>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<h5 class="col-12 my-1">Cutting Depth <span class="mr-0">?</span></h5>
					<div class="col-12 my-1">
						<input type="text" id="example_id" name="example_name" value="" />
					</div>
				</div>
			</form>
		</div>
		<!-- /.col-lg-3 -->

		<div class="col-lg-9">
			<div class="row">
				<h1 class="col-12 my-2">ALL MODELS</h1>
			</div>
			<div class="row">
				<div class="col-12">
					<h4 class="my-1">LS MODELS</h4>
					<h6 class="my-1">CUTS & ENGRAVES</h6>
                </div>
                {% for product in products %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="{{ 'assets/images/p_1.jpg'|theme }}" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title border-bottom pb-1">
                                    <a href=""><span>{{  product.name}}</span></a>
                                </h4>
                                <h6>STARTING@ ${{  product.price}}</h6>
                                <!-- <p class="card-text">CUTS UP TO 1/2"</p> -->
                            </div>
                        </div>
                    </div>
                {% endfor %}
				<!-- <div class="col-lg-4 col-md-6 mb-4">
					<div class="card h-100">
						<a href="#"><img class="card-img-top" src="{{ 'assets/images/p_2.jpg'|theme }}" alt=""></a>
						<div class="card-body">
							<h4 class="card-title border-bottom pb-1">
								<a href="#"><span>LS</span>-1632</a>
							</h4>
							<h6>STARTING@ $5,997.00</h6>
							<p class="card-text">CUTS UP TO 1/2"</p>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 mb-4">
					<div class="card h-100">
						<a href="#"><img class="card-img-top" src="{{ 'assets/images/p_3.jpg'|theme }}" alt=""></a>
						<div class="card-body">
							<h4 class="card-title border-bottom pb-1">
								<a href="#"><span>LS</span>-1632</a>
							</h4>
							<h6>STARTING@ $5,997.00</h6>
							<p class="card-text">CUTS UP TO 1/2"</p>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 mb-4">
					<div class="card h-100">
						<a href="#"><img class="card-img-top" src="{{ 'assets/images/p_4.jpg'|theme }}" alt=""></a>
						<div class="card-body">
							<h4 class="card-title border-bottom pb-1">
								<a href="#"><span>LS</span>-1632</a>
							</h4>
							<h6>STARTING@ $5,997.00</h6>
							<p class="card-text">CUTS UP TO 1/2"</p>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 mb-4">
					<div class="card h-100">
						<a href="#"><img class="card-img-top" src="{{ 'assets/images/p_5.jpg'|theme }}" alt=""></a>
						<div class="card-body">
							<h4 class="card-title border-bottom pb-1">
								<a href="#"><span>LS</span>-1632</a>
							</h4>
							<h6>STARTING@ $5,997.00</h6>
							<p class="card-text">CUTS UP TO 1/2"</p>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 mb-4">
					<div class="card h-100">
						<a href="#"><img class="card-img-top" src="{{ 'assets/images/p_6.jpg'|theme }}" alt=""></a>
						<div class="card-body">
							<h4 class="card-title border-bottom pb-1">
								<a href="#"><span>LS</span>-1632</a>
							</h4>
							<h6>STARTING@ $5,997.00</h6>
							<p class="card-text">CUTS UP TO 1/2"</p>
						</div>
					</div>
				</div> -->

			</div>
			<!-- /.row -->
			<!-- <div class="row">
				<div class="col-12">
					<h4 class="my-1">LS MODELS</h4>
					<h6 class="my-1">CUTS & ENGRAVES</h6>
				</div>
				<div class="col-lg-4 col-md-6 mb-4">
					<div class="card h-100">
						<a href="#"><img class="card-img-top" src="{{ 'assets/images/p_1.jpg'|theme }}" alt=""></a>
						<div class="card-body">
							<h4 class="card-title border-bottom pb-1">
								<a href="#"><span>LS</span>-1632</a>
							</h4>
							<h6>STARTING@ $5,997.00</h6>
							<p class="card-text">CUTS UP TO 1/2"</p>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 mb-4">
					<div class="card h-100">
						<a href="#"><img class="card-img-top" src="{{ 'assets/images/p_2.jpg'|theme }}" alt=""></a>
						<div class="card-body">
							<h4 class="card-title border-bottom pb-1">
								<a href="#"><span>LS</span>-1632</a>
							</h4>
							<h6>STARTING@ $5,997.00</h6>
							<p class="card-text">CUTS UP TO 1/2"</p>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 mb-4">
					<div class="card h-100">
						<a href="#"><img class="card-img-top" src="{{ 'assets/images/p_3.jpg'|theme }}" alt=""></a>
						<div class="card-body">
							<h4 class="card-title border-bottom pb-1">
								<a href="#"><span>LS</span>-1632</a>
							</h4>
							<h6>STARTING@ $5,997.00</h6>
							<p class="card-text">CUTS UP TO 1/2"</p>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 mb-4">
					<div class="card h-100">
						<a href="#"><img class="card-img-top" src="{{ 'assets/images/p_4.jpg'|theme }}" alt=""></a>
						<div class="card-body">
							<h4 class="card-title border-bottom pb-1">
								<a href="#"><span>LS</span>-1632</a>
							</h4>
							<h6>STARTING@ $5,997.00</h6>
							<p class="card-text">CUTS UP TO 1/2"</p>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 mb-4">
					<div class="card h-100">
						<a href="#"><img class="card-img-top" src="{{ 'assets/images/p_5.jpg'|theme }}" alt=""></a>
						<div class="card-body">
							<h4 class="card-title border-bottom pb-1">
								<a href="#"><span>LS</span>-1632</a>
							</h4>
							<h6>STARTING@ $5,997.00</h6>
							<p class="card-text">CUTS UP TO 1/2"</p>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 mb-4">
					<div class="card h-100">
						<a href="#"><img class="card-img-top" src="{{ 'assets/images/p_6.jpg'|theme }}" alt=""></a>
						<div class="card-body">
							<h4 class="card-title border-bottom pb-1">
								<a href="#"><span>LS</span>-1632</a>
							</h4>
							<h6>STARTING@ $5,997.00</h6>
							<p class="card-text">CUTS UP TO 1/2"</p>
						</div>
					</div>
				</div>

			</div> -->
			<!-- /.row -->

		</div>
		<!-- /.col-lg-9 -->

	</div>
	<!-- /.row -->

</div>
<!-- /.container -->
