title = "Filteration"
url = "/products1"
layout = "products"
meta_title = "Products"
meta_description = "Products"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[myProductsList]
take = 20
orderBy = "created_at"
sort = "asc"
onSaleOnly = 0
productPage = "product"
==

<ul class="products" data-product-style="classic">
	{% for product in productsPagination.items()|slice(productsPagination.perPage()*(productsPagination.currentPage()-1), productsPagination.perPage()) %}
	<li class="classic post-572 product type-product status-publish has-post-thumbnail product_cat-laser-machines-hp-series instock shipping-taxable purchasable product-type-simple">
		<a href="{{ product.url }}" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"></a>
		<div class="product-wrap">
			<h3 onclick="location.href = '{{ product.url}}'">ss</h3>
			<a href="{{ product.url }}" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"></a>
			<a href="{{ product.url }}">
				{% if product.images|length > 0 %}
          <img src="{{ product.images[0].thumb(auto,150) }}" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="{{ product.title }}" width="375" height="400" onclick="location.href = '{{ product.url}}'" >
				{% endif %}
			</a>
			{% if product.isAllowOrder %}
				<a rel="nofollow" href="#" data-request-data="slug: {{ product.url }}" data-request="onAddToBasket" data-quantity="1" data-product_id="572" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart add_to_cart_button">Add to cart</a>
			{% endif %}
		</div>
		<h2 class="woocommerce-loop-product__title">{{ product.title }}</h2>
		<span class="price">
			<span class="woocommerce-Price-amount amount">
				<span class="woocommerce-Price-currencySymbol">$</span>{{ product.getFinalPrice }}
			</span>
		</span>
	</li>
	{% endfor %}
</ul>
