<?php if (isset($banners)) : ?>
<div class="layout-cell w-350" >
    <div class="layout-relative">
        <div class="layout-sidenav" id="layout-sidenav-stats" style="padding: 20px 20px 0 20px;height: 100%; text-align: center">
            <h4><?= e(trans('alexis.banners::lang.stats.title')) ?></h4>
            <?php foreach ($banners as $banner): ?>
            <div
                    class="control-chart centered wrap-legend"
                    data-control="chart-pie"
                    data-size="150"
                    data-center-text="<?php echo $banner->title ?>">
                <ul>
                    <li><?= e(trans('alexis.banners::lang.stats.shows')) ?> <span><?php echo $banner->looks ?></span></li>
                    <li><?= e(trans('alexis.banners::lang.stats.clicks')) ?> <span><?php echo $banner->clicks ?></span></li>
                </ul>
            </div>
            <?php endforeach ?>
        </div>
    </div>
</div>
<?php endif ?>
