<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>FM MODELS &#8211; Boss Lasers</title>
	<atom:link href="http://bosslasers.fanscreens.net/product-category/laser-machines-fm-series/feed/" rel="self" type="application/rss+xml" />
	<link>http://bosslasers.fanscreens.net</link>
	<description></description>
	<lastBuildDate>Tue, 05 Jun 2018 21:41:33 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.8.7</generator>
	<item>
		<title>BOSS FM DESKTOP</title>
		<link>http://bosslasers.fanscreens.net/product/boss-fm-desktop/</link>
		<comments>http://bosslasers.fanscreens.net/product/boss-fm-desktop/#respond</comments>
		<pubDate>Thu, 24 May 2018 19:05:03 +0000</pubDate>
		<dc:creator><![CDATA[Nick]]></dc:creator>
		
		<guid isPermaLink="false">http://bosslasers.fanscreens.net/?post_type=product&#038;p=585</guid>
		<description><![CDATA[20-50 watt galvanometer fiber laser enables you to quickly and permanently mark or etch firearms, tools, metal parts, jewelry, bar codes, serial numbers, even industrial polymers. See Fiber Marker Videos below...]]></description>
				<content:encoded><![CDATA[<p><img src="https://media.bosslaser.com/media/wysiwyg/FM20.png" alt="fiber marker FM20" /></p>
<p>Ytterbium 20W fiber laser marker includes Q-switch or pulsed output laser beam. Ideal for permanently marking and engraving raw metal applications as well as industrial polymers. The improved beam quality coupled with 10x more focused beam diameter (compared to CO2) makes this fiber marker ideal for applications that demand extreme precision.</p>
<h4>GALVO FIBER MARKER INCLUDES:</h4>
<ul>
<li>Call us to schedule a demo at our location in Orlando, FL and see this laser in action!</li>
<li>Permanently mark or etch smooth or uneven metals including firearms, tools, parts, jewelry, PVC &amp; Acrylics</li>
<li>Up to 100x faster compared to gantry style lasers</li>
<li>Open table does not limit material size like small enclosed units</li>
<li>Pulse Wave Frequency: 20-80 KHz</li>
<li>Compact Scan head w/ low maintenance &#8211; no more flying optics to align</li>
<li>High reliability: Up to 100,000+ hours productivity</li>
<li>Efficiency: Wall plug efficiency is near 30% (vs. only 3% with CO2).</li>
<li>Adjustable Z-axis up to 30&#8243; vertical height movement</li>
<li>Desktop pre-installed w/ EZ CAD laser software compatible w/ most files and CAD software Air Cooled</li>
<li>Ask us about integrating an automated feeder system for production lines</li>
<li>Foot petal included for production job runs</li>
<li>Chuck rotary size options for cylindrical objects (optional)</li>
<li>Lifetime Dedicated USA tech support as long as you own the fiber marker</li>
<li>BOSS owner manuals and video support</li>
<li>Full Support via. phone, email, chat, or remotely accessing your pc.</li>
<li>30 Day Return Available</li>
<li>Two (2) year Warranty fully protects Fiber Laser machine and parts.</li>
</ul>
]]></content:encoded>
			<wfw:commentRss>http://bosslasers.fanscreens.net/product/boss-fm-desktop/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
