
<!-- Modal -->
<div id="modalAddress" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <span class="span-update-address">
                        {{ 'ideas.shop::lang.component.update_address' | trans }}
                    </span>
                    <span class="span-add-address">
                        {{ 'ideas.shop::lang.component.add_address' | trans }}
                    </span>
                </h4>
            </div>
            {{ form_open({id:'form-user-address'}) }}
            <input type="hidden" id="id_user_extend" name="id" value="0" />
            <div class="modal-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>First Name</label>
                        <input name="first_name" id="first_name" type="text" class="form-control" placeholder="Enter your first name" required>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input name="last_name" id="last_name" type="text" class="form-control" placeholder="Enter your full name" required>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input name="address" id="address" type="text" class="form-control" placeholder="Enter your Address" required>
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <select name="city_id" id="city_id" class="form-control select2">
                            {% for row in city%}
                            <option value="{{row.id}}">{{row.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Email</label>
                        <input name="email" id="email" type="email" class="form-control" placeholder="Enter your email" required>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input name="phone" id="phone" type="number" class="form-control" placeholder="Enter your phone number" required>
                    </div>
                    <div class="form-group">
                        <label>Post Code</label>
                        <input name="post_code" id="post_code" type="number" class="form-control" placeholder="Enter your post code" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="add-address-button"
                        data-request="onAddOrUpdateAddress"
                        data-request-success="location.reload()">
                        <span class="span-update-address">
                            {{ 'ideas.shop::lang.component.update_address' | trans }}
                        </span>
                        <span class="span-add-address">
                        {{ 'ideas.shop::lang.component.add_address' | trans }}
                        </span>
                    </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {{ 'ideas.shop::lang.component.close' | trans }}</button>
            </div>
            {{ form_close() }}
        </div>
    </div>
</div>