{% flash %}
<div class="alert alert-{{ type == 'error' ? 'danger' : type }}">{{ message }}</div>
{% endflash %}
<div class="container">
    <div class="row" id="user-address-row">
        {% set i=1 %}
        {%for user in userExtends%}
        <div class="col-md-4 user-address-div">
            <div class="user-extend-data">
                <h3>Address {{i}} &nbsp; <i class="fa fa-pencil-square-o edit-user-address" attr-id="{{user.id}}"></i></h3>
                <div class="user-address"> {{ 'ideas.shop::lang.component.address' | trans }} : {{user.address}}</div>
                <div class="user-postcode">{{ 'ideas.shop::lang.component.post_code' | trans }} : {{user.post_code}}</div>
                <div class="user-city">{{ 'ideas.shop::lang.component.city' | trans }} : {{user.city.name}}</div>
                <div class="user-email">{{ 'ideas.shop::lang.component.email' | trans }} : {{user.email}}</div>
                <div class="user-phone">{{ 'ideas.shop::lang.component.phone' | trans }} : {{user.phone}}</div>
            </div>
        </div>
        {% set i = i + 1%}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-info modal-add-user-address">
                {{ 'ideas.shop::lang.component.add_address' | trans }}</button>
        </div>
    </div>
</div>

{% partial 'UserExtend::_modalAddress'%}
