<div class="container">
    <div class="row">
        {% flash %}
        <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">{{ message }}</div>
        {% endflash %}
        <br/>
        <form data-request="onSignin">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Email</label>
                        <input name="email" type="email" class="form-control" placeholder="Enter your email" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input name="password" class="form-control" type="password" placeholder="Choose a password" required>
                    </div>
                    <div class="">
                        <button type="submit" class="btn btn-primary">Login</button>
                        <a href="/user/generate-code" type="button" class="btn btn-primary">Reset password</a>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
