<div class="container">
    <div class="row">
        {% flash %}
        <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">{{ message }}</div>
        {% endflash %}
        <br/>
        <form data-request="onRegister">
            <div class="row">
                <div class="col-md-6">
                    <h3>Basic Info</h3>
                    <div class="form-group">
                        <label>First Name</label>
                        <input name="first_name" type="text" class="form-control" placeholder="Enter your first name" required>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input name="last_name" type="text" class="form-control" placeholder="Enter your full name" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input name="password" class="form-control" type="password" placeholder="Choose a password" required>
                    </div>
                    <div class="form-group">
                        <label>Retype Password</label>
                        <input name="password_confirmation" class="form-control" type="password" placeholder="Choose a password" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Address</h3>
                    <div class="form-group">
                        <label>Email</label>
                        <input name="email" type="email" class="form-control" placeholder="Enter your email" required>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input name="phone" type="number" class="form-control" placeholder="Enter your phone number" required>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input name="address" type="text" class="form-control" placeholder="Enter your Address" required>
                    </div>
                    <div class="form-group">
                        <label>Post Code</label>
                        <input name="post_code" type="number" class="form-control" placeholder="Enter your post code" required>
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <select name="city_id" id="city_id" class="form-control select2">
                            {% for row in city%}
                            <option value="{{row.id}}">{{row.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </form>

    </div>
</div>