<!--<div class="form-group text-field span-left">-->
    <label>Slug</label>
    <p class="help-block">Variable name that can be used in the email template.</p><br>
    {{email_action_<input name="Action[slug]" style="display: inline-block;" type="text" value="<?= $formModel->slug ?>" class="form-control custom-text w-200" placeholder="your_slug">}}
<!--</div>-->