<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>LS MODELS &#8211; Boss Lasers</title>
	<atom:link href="http://bosslasers.fanscreens.net/product-category/laser-machines-ls-series/feed/" rel="self" type="application/rss+xml" />
	<link>http://bosslasers.fanscreens.net</link>
	<description></description>
	<lastBuildDate>Tue, 05 Jun 2018 21:41:33 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.8.7</generator>
	<item>
		<title>BOSS LS-1416</title>
		<link>http://bosslasers.fanscreens.net/product/boss-ls-1416/</link>
		<comments>http://bosslasers.fanscreens.net/product/boss-ls-1416/#respond</comments>
		<pubDate>Thu, 24 May 2018 18:52:46 +0000</pubDate>
		<dc:creator><![CDATA[Nick]]></dc:creator>
		
		<guid isPermaLink="false">http://bosslasers.fanscreens.net/?post_type=product&#038;p=574</guid>
		<description><![CDATA[The LS-1416 Gen-5 laser engraver offers maximum power and more engraving work space than the common 16x12" platforms. Comes standard with premium U.S. optics, 50W CO2 laser tube or <b>upgrade to our new 65W tube rated an estimated 5,000 hours.. </b>]]></description>
				<content:encoded><![CDATA[<div class="product-tabs-container clearfix">
<div id="product_tabs_description_tabbed_contents" class="product-tabs-content tabs-content std">
<div class="std">
<div class="detail">
<p><img src="https://media.bosslaser.com/media/wysiwyg/60W_hobby_laser_1.png" alt="boss ls1416 hobby laser" /></p>
<p>If you&#8217;re looking for a professional grade desktop / hobby laser engraver or cutter to inspire your small business or DIY projects, but don&#8217;t want to spend $10k to get started, then the Boss LS-1416 may be the best laser machine under $4k on the market today.</p>
<p><strong>NOTE: ALL OUR SYSTEMS COME COMPLETE WITH SOFTWARE, ATTACHMENTS AND ACCESSORIES NECESSARY FOR OPERATION.</strong></p>
<p>Need to cut 1/4&#8243; or even 3/8&#8243; wood or acrylic? It&#8217;s got the power available. Comes standard with a 50W CO2 tube. Upgrade to a 65 watt and you nearly double the life of the tube and cutting power. U.S. manufactured focal lenses, and WIN 10 compatibility. <strong>Ask about seeing this machine in a LIVE demo</strong></p>
<h4>LS-1416 INCLUDES:</h4>
<ul>
<li><strong>NEW! 4-WAY PASS-THRUs </strong>for greater material handling.</li>
<li>NEW! Auto focus makes focusing the laser head quick and easy</li>
<li>NEW! U.S. optics from American Photonics. Proven 14% beam transmission improvement vs. imported optics.</li>
<li>NEW! Inline Beam Combiner (no more red dot pointer!) illuminates red dot on the material for improved accuracy and alignment.</li>
<li><strong>LaserWORKS V8 control software with Direct Print Drive.  Works with most graphics design programs.</strong></li>
<li>Laser head <strong>Air Assist</strong> keeps smoke &amp; debris out of the laser area</li>
<li>Motorized Z Table with<strong> 8&#8243; height adjustment.</strong></li>
<li><strong>Wi-Fi or USB</strong> connection to PC Option</li>
<li>Large exhaust fan and venting for extracting smoke and fumes.</li>
<li>Both <strong>Honeycomb and Knife blade platforms</strong> for cutting and engraving</li>
<li>Quality CNC machined parts for long term reliability.</li>
<li>Ball bearing Y axis guide rails ensures smooth &amp; precise laser movement</li>
<li>Optional Heavy Duty Rotary or Chuck attachment for cylindrical objects</li>
<li><strong>Windows 10</strong>, 8, 7 (64 or 32 bit), XP compatible.</li>
<li>Quick access to warehoused replacement parts at an affordable cost</li>
<li><strong>Dedicated USA technical support</strong> of trained tech&#8217;s and engineers.</li>
<li>30 Day &#8220;Try-It-Out&#8221;  Return Policy.</li>
<li><strong>Full 1 Year Warranty</strong> covers parts and laser tube. Optional warranty extensions</li>
<li><strong>Free Lifetime Tech Support</strong> As long as you own the machine we&#8217;re here to serve you.</li>
<li>Low LTL rates! includes free lift gate service w/in U.S. lower 48</li>
<li>Live Outside the lower 48? Call us for an accurate shipping quote</li>
</ul>
</div>
</div>
</div>
</div>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>http://bosslasers.fanscreens.net/product/boss-ls-1416/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>BOSS LS-1630</title>
		<link>http://bosslasers.fanscreens.net/product/boss-ls-1630/</link>
		<comments>http://bosslasers.fanscreens.net/product/boss-ls-1630/#respond</comments>
		<pubDate>Thu, 24 May 2018 18:54:16 +0000</pubDate>
		<dc:creator><![CDATA[Nick]]></dc:creator>
		
		<guid isPermaLink="false">http://bosslasers.fanscreens.net/?post_type=product&#038;p=576</guid>
		<description><![CDATA[The LS-1630 offers a popular sized engraving area with the option to choose from a 65W to 100W CO2 tube. Designed &#38; Engineered by Boss and built to last. Premium LaserWORKS v8 software and U.S. manufactured optics included.]]></description>
				<content:encoded><![CDATA[<p><img src="https://media.bosslaser.com/media/wysiwyg/1630.png" alt="1630 laser engraver" /></p>
<p>If you&#8217;re looking for a professional grade laser cutter or engraver to inspire your small business or hobby projects but don&#8217;t want to spend $15K to get started, then the GEN 5 &#8211; LS-1630 offers a tremendous value. Includes WIN 10 compatibility .<br />
<strong>Ask about seeing this machine in a LIVE demo</strong></p>
<h4>LS-1630 INCLUDES:</h4>
<ul>
<li><strong>Includes 65 watt CO2 laser tube or optional 100W upgrade </strong>(up to 2x&#8217;s life span)</li>
<li>NEW! premium <strong>LaserWORKS V8 stand alone laser software</strong> with direct output to CorelDraw. Works with most graphic programs.</li>
<li>NEW! Front, back, and side material &#8220;Tru-Pass-Thru&#8221; options for maximum material handling</li>
<li>U.S. focal lenses manufactured locally from American Photonics. Proven 14% beam transmission improvement vs. imported optics.</li>
<li><strong>Connectivity to PC via. Wi-Fi or USB</strong> option</li>
<li>Inline Beam Combiner combines red beam with laser to pinpoint a red dot on the material for improved accuracy and alignment</li>
<li>Auto Focus attachment quickly regulates the initial distance between the laser head and material</li>
<li>250 CFM exhaust fan with venting for removing fumes and smoke</li>
<li><strong>Max</strong> Air compressor powers laser head air-assist to keep laser area clean.</li>
<li>Illuminated LCD panel for automated laser head control</li>
<li>Motorized Z Table offers push button Z-axis up/down movement &#8211; up to 8&#8243; for tall materials</li>
<li><strong>Optional CW-3000 or 5000 water chiller</strong> &amp; Exhaust fan to keep laser clean and cool</li>
<li>Honeycomb and Knife Blade platform for cutting and engraving</li>
<li>Vacuum table conveniently collects finished product into sliding tray.</li>
<li>Industrial CNC machined components in stock for long term reliability</li>
<li>Ball bearing guide rails promotes smooth &amp; precise laser movement</li>
<li>Optional Roller or Chuck Rotary Attachments for cylindrical objects</li>
<li>Windows 10 8, 7 (64 or 32 bit), XP, 2000 compatible</li>
<li><strong>FREE Lifetime Technical Support</strong> from qualified technicians and engineers</li>
<li><a title="30-Day Return Option" href="https://www.bosslaser.com/full-laser-line-up/boss-ls-1630.html#" target="_blank" rel="noopener">No Hassle 30-Day</a> Return Option</li>
<li><a title="Warranty details" href="https://www.bosslaser.com/full-laser-line-up/boss-ls-1630.html#" target="_blank" rel="noopener"><strong>One (1) Full Year Warranty</strong></a> on laser machine and parts.  Ask about optional warranty extensions.</li>
<li>Have further questions about the machine or shipping? <strong>Call 407.878.0880</strong></li>
<li>Call us if you would like to schedule a demo at our Sanford, FL location</li>
</ul>
]]></content:encoded>
			<wfw:commentRss>http://bosslasers.fanscreens.net/product/boss-ls-1630/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>BOSS LS-2436</title>
		<link>http://bosslasers.fanscreens.net/product/boss-ls-2436/</link>
		<comments>http://bosslasers.fanscreens.net/product/boss-ls-2436/#respond</comments>
		<pubDate>Thu, 24 May 2018 18:55:31 +0000</pubDate>
		<dc:creator><![CDATA[Nick]]></dc:creator>
		
		<guid isPermaLink="false">http://bosslasers.fanscreens.net/?post_type=product&#038;p=578</guid>
		<description><![CDATA[Boss' industrial laser cutters begin with the GEN 5 - LS-2436. The higher power and larger format offers more material space and the ability to cut thicker material. Includes LaserWORKS v8 Boss Edition software, U.S. made focal lenses, and WIN 10 compatibility.]]></description>
				<content:encoded><![CDATA[<p><img src="https://media.bosslaser.com/media/wysiwyg/2436.png" alt="industrial laser cutter 2436" /></p>
<h4>FEATURES:</h4>
<ul>
<li><strong>Call us to schedule a LIVE demonstration at our facility!</strong></li>
<li><strong>Equipped with a 65W CO2 laser tube w/ optional 100W or 150W upgrade</strong></li>
<li><strong>NEW! LaserWORKS v.8 premium laser software w/ direct output functionality from CorelDraw.</strong></li>
<li><strong>New!</strong> Features 4 material &#8220;Tru-Pass-Thru&#8221; points for greater material processing</li>
<li><strong>NEW!</strong> Auto Focus function automatically calibrates the distance between the material and laser for optimum focus.</li>
<li><strong>NEW!</strong> Inline Beam Combiner precisely illuminates a red dot over the material for improved accuracy and alignment</li>
<li><strong>NEW! U.S. optics from <em>American Photonics</em>. Our tests prove 14% beam transmission improvement vs. imported optics.</strong></li>
<li><strong>Wi-Fi or USB</strong> connectivity to PC Option</li>
<li>Illuminated LCD panel for automated laser head control .</li>
<li>Motorized Z-Table lowers Z-axis 7&#8243; for larger materials.</li>
<li><strong>Optional Water Chiller w/pump (CW-3000 or 5000)</strong> keeps water flowing thru CO2 Tube at ambient temperature.</li>
<li>Includes Large <strong>260 CFM exhaust fan w/ venting + Max air compressor</strong> for air assist at laser head.</li>
<li>Convenient vacuum table under the Z-table collects finished product into sliding tray.</li>
<li>Both Honey Comb and Knife Blade Platform included for securing maximum material capacity</li>
<li>CNC machined parts in stock for long term service and reliability</li>
<li>Upgraded ball bearing Y axis guide rails ensures smooth &amp; precise laser head movement</li>
<li>Optional Rotary chuck or roller attachment for etching cylindrical objects</li>
<li>Compatible with <strong>Windows 10</strong>, 8, 7 (64 or 32 bit), XP operation systems</li>
<li>Dedicated USA technical support from qualified service technicians and engineers.</li>
<li><strong>Free Lifetime Tech Support</strong> via. phone, email, chat, or remote computer access!</li>
<li><strong>30 Day</strong> Optional Return Policy.</li>
<li><strong>1-Year Warranty </strong>covers parts replacement including the Laser Tube.</li>
<li>LTL <strong>shipping</strong> not included in price. Shipped with lift gate service and insurance.</li>
<li>If you have more questions, <strong>please call us at 407.878.0880</strong></li>
</ul>
]]></content:encoded>
			<wfw:commentRss>http://bosslasers.fanscreens.net/product/boss-ls-2436/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>BOSS LS-3655</title>
		<link>http://bosslasers.fanscreens.net/product/boss-ls-3655/</link>
		<comments>http://bosslasers.fanscreens.net/product/boss-ls-3655/#respond</comments>
		<pubDate>Thu, 24 May 2018 18:57:00 +0000</pubDate>
		<dc:creator><![CDATA[Nick]]></dc:creator>
		
		<guid isPermaLink="false">http://bosslasers.fanscreens.net/?post_type=product&#038;p=580</guid>
		<description><![CDATA[The latest Gen-5 BOSS LS-3655 offers a 14.5% larger engraving area compared to the standard 48x36" platforms. Free premium LaserWORKS V8 software works with WIN 10, and American Photonics focal lenses.]]></description>
				<content:encoded><![CDATA[<p><img src="https://media.bosslaser.com/media/wysiwyg/ls3655.png" alt="LS4055" /></p>
<p>Looking to etch or cut metal? Check out our <strong>HP series</strong> lasers.</p>
<h4>LS-3655 INCLUDES:</h4>
<ul>
<li><strong>Want to see this machine LIVE? Call us and schedule an on-site demo at our facility.</strong></li>
<li>65W metal sealed CO2 laser tube with optional upgrades from 100 to 150 watts</li>
<li>Expanded cutting area with 4 over sized material pass thrus (See images)</li>
<li><strong>LaserWORKS 8 stand alone software / driver with direct output capability from graphics programs</strong></li>
<li><strong>New!</strong> 4 material Tru-Pass-Thru options for virtually unlimited material flexibility</li>
<li><strong>NEW!</strong> Auto Focus assembly automatically regulates the start-up distance between the laser head and the material</li>
<li><strong>NEW!</strong> Inline Beam Combiner accurately illuminates red dot over your material for improved accuracy and alignment</li>
<li><strong>New! U.S. manufactured optics by American Photonics. Proven 14% improved beam transmission vs. imported lenses.</strong></li>
<li><strong>Wi-Fi or USB</strong> connectivity available</li>
<li>Illuminated LCD panel for automated laser head control</li>
<li>Motorized Z-Table lowers Z-axis 7&#8243; for tall materials.</li>
<li><strong>Industrial CW-5000 refrigerated Water Chiller </strong>(w/ purchase of 150W power) offers temp alert to protect your laser &#8211; $897 value</li>
<li>Both Honey Comb and Knife Blade Platforms included for securing maximum material capacity</li>
<li>Vacuum table under the Z-table captures finished product into sliding tray.</li>
<li>Quality CNC machined parts in stock for long term service and reliability</li>
<li>Linear bearing X &amp; Y axis guide rails promotes quiet, smooth &amp; precise laser movement</li>
<li>Optional Rotary Roller or Chuck attachment for cylindrical objects</li>
<li><strong>Windows 10, </strong>8, 7 (64 or 32 bit), XP, 2000 compatible</li>
<li>Dedicated USA technical support Mon &#8211; Saturday</li>
<li><strong>FREE Lifetime Tech Support</strong>. We are a tech support driven company</li>
<li><strong>30-Day</strong> Return Policy Included</li>
<li><strong>1 year Warranty</strong> covers CO2 Laser machine parts and laser tube.</li>
<li><strong>Low LTL Insured shipping rates to North America.</strong> Allow 3-10 days for LTL delivery w/in lower 48 states.</li>
<li><strong>Please call 407.878.0880 for accurate shipping quote and ETA</strong></li>
</ul>
]]></content:encoded>
			<wfw:commentRss>http://bosslasers.fanscreens.net/product/boss-ls-3655/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
