{% if unsubscribe_affirm %}


<div class='container-fluid' style='height: 100px'></div>
<div class='container text-center'>
    
    <h2>
        We will miss you 
        <i class='fa fa-frown-o' aria-hidden='true'></i>
    </h2>
    
    <form method='post'>
        <button 
            name='affirm' 
            class='btn btn-danger btn-lg' 
            type='submit'>
            Unsubscribe anyway
        </button>
    </form>
    
</div>
<div class='container-fluid' style='height: 100px'></div>


{% else %}


<div class='container-fluid' style='height: 100px'></div>
<div class='container text-center'>
    
    <h2>
        Account unsubscribed 
        <i class='fa fa-frown-o' aria-hidden='true'></i>
    </h2>
    
    <p class='text-muted'>
        <small>You will not receive marketing emails anymore.</small>
    </p>
    
</div>
<div class='container-fluid' style='height: 100px'></div>


{% endif %}