@font-face {
  font-family: 'Boss-interface';
  src: url('../fonts/Boss-interface.eot?33839631');
  src: url('../fonts/Boss-interface.eot?33839631#iefix') format('embedded-opentype'),
       url('../fonts/Boss-interface.woff2?33839631') format('woff2'),
       url('../fonts/Boss-interface.woff?33839631') format('woff'),
       url('../fonts/Boss-interface.ttf?33839631') format('truetype'),
       url('../fonts/Boss-interface.svg?33839631#Boss-interface') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="Boss-"]:before, [class*=" Boss-"]:before {
  font-family: "Boss-interface";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.Boss-down-open-big:before { content: '\e800'; } /* '' */
.Boss-left-open-big:before { content: '\e801'; } /* '' */
.Boss-right-open-big:before { content: '\e802'; } /* '' */
.Boss-up-open-big:before { content: '\e803'; } /* '' */
.Boss-basket:before { content: '\e804'; } /* '' */
.Boss-search:before { content: '\e805'; } /* '' */
.Boss-down-dir:before { content: '\e806'; } /* '' */
.Boss-left-dir:before { content: '\e807'; } /* '' */
.Boss-right-dir:before { content: '\e808'; } /* '' */
.Boss-up-dir:before { content: '\e809'; } /* '' */
.Boss-down-open:before { content: '\e80a'; } /* '' */
.Boss-left-open:before { content: '\e80b'; } /* '' */
.Boss-right-open:before { content: '\e80c'; } /* '' */
.Boss-up-open:before { content: '\e80d'; } /* '' */
.Boss-menu:before { content: '\e80e'; } /* '' */
.Boss-users:before { content: '\e80f'; } /* '' */
.Boss-publish:before { content: '\e810'; } /* '' */
.Boss-trash:before { content: '\e811'; } /* '' */
.Boss-bell:before { content: '\e812'; } /* '' */
.Boss-cog:before { content: '\e813'; } /* '' */
.Boss-plus-circled:before { content: '\e814'; } /* '' */
.Boss-dot-3:before { content: '\e815'; } /* '' */