<form method="post" data-request="onReceiveNotificationSettings" data-request-success="alert('saved!')">
    <div class="checkbox">
    <label>
      <input name="email_sub" type="checkbox"{% if user.email_settings.is_subscribed %} checked="checked"{% endif %}> Yes, I want to get valuable email notifications
    </label>
    </div>
    <br>
    <button type="submit" class="btn btn-default">Save</button>
</form>