<div class="owl-carousel owl-theme">
    {% for testimonial in testimonials %}
    {% for image in testimonial.image %}
    <div class="item">
        <div class="user-pic text-center">
            <img src="{{ image.url|media|noImage  }}" />
        </div>
        <p class="user-comment text-center">
            {{image.description}}
        </p>
        <div class="user-name text-center">
            {{image.title}}
        </div>
    </div>
    {% endfor %}
    {% endfor %}
</div>
