<div class="row">
    <h2 class="text-center">Welcome to our shop</h2>
    <div class="text-center">
        <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum."
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-3 homepage-image-welcome">
        <a href="{{welcome[0].image[0].link}}">
            <img src="{{ welcome[0].image[0].url | media }}" height="250" width="200"/>
        </a>
        <a href="{{welcome[0].image[1].link}}">
            <img src="{{ welcome[0].image[1].url | media }}" height="250" width="200"/>
        </a>
    </div>
    <div class="col-md-6">
        <a href="{{welcome[0].image[2].link}}">
            <img class="img-responsive" src="{{ welcome[0].image[2].url | media }}" height="600" width="550"/>
        </a>
    </div>
    <div class="col-md-3 homepage-image-welcome">
        <a href="{{welcome[0].image[3].link}}">
            <img src="{{ welcome[0].image[3].url | media }}" height="250" width="200"/>
        </a>
        <a href="{{welcome[0].image[4].link}}">
        <img src="{{ welcome[0].image[4].url | media }}" height="250" width="200"/>
        </a>
    </div>
</div>