<label><?php echo e(trans('ideas.shop::lang.config.'.$name)) ?></label>

<div class="checkbox custom-checkbox">
    <input type="radio" name="<?php echo $name ?>" class="filter-choose" id="checkbox_<?php echo $name ?>_1"
           value="1" <?php echo $value == Ideas\Shop\Models\IdeasShop::ENABLE ? 'checked' : '' ?>>
    <label for="checkbox_<?php echo $name ?>_1">
        <?php if (isset($valueName1)) { ?>
        <?php echo e(trans('ideas.shop::lang.config.'.$valueName1)) ?>
        <?php } else { ?>
        <?php echo e(trans('ideas.shop::lang.general.enable')) ?>
        <?php } ?>
    </label>
</div>

<div class="checkbox custom-checkbox">
    <input type="radio" name="<?php echo $name ?>" class="filter-choose" id="checkbox_<?php echo $name ?>_0"
           value="0" <?php echo $value == Ideas\Shop\Models\IdeasShop::DISABLE ? 'checked' : '' ?> >
    <label for="checkbox_<?php echo $name ?>_0">
        <?php if (isset($valueName0)) { ?>
            <?php echo e(trans('ideas.shop::lang.config.'.$valueName0)) ?>
        <?php } else { ?>
            <?php echo e(trans('ideas.shop::lang.general.disable')) ?>
        <?php } ?>
    </label>
</div>
