<div id="Form-primaryTabs" class="control-tabs primary-tabs layout has-tabs" data-control="tab" data-slidable="">
    <div class="layout-row min-size">
        <ul class="nav nav-tabs" data-disposable="">
            <li class="active"><a href="#primarytab-1" data-target="#tabs-general" data-toggle="tab" title="general">
                <span class="title"><span>
                    <?php echo e(trans('ideas.shop::lang.shop.general')) ?>
                </span></span></a><span class="tab-close"><i>×</i></span>
            </li>
            <li><a href="#primarytab-1" data-target="#tabs-payment" data-toggle="tab" title="<?php echo e(trans('ideas.shop::lang.shop.payment_method')) ?>">
                <span class="title"><span>
                    <?php echo e(trans('ideas.shop::lang.shop.payment_method')) ?>
                </span></span></a><span class="tab-close"><i>×</i></span>
            </li>
            <li><a href="#primarytab-1" data-target="#tabs-download" data-toggle="tab" title="<?php echo e(trans('ideas.shop::lang.shop.downloadable_tab')) ?>">
                <span class="title"><span>
                    <?php echo e(trans('ideas.shop::lang.shop.downloadable_tab')) ?>
                </span></span></a><span class="tab-close"><i>×</i></span>
            </li>

        </ul>
    </div>

    <?php
    isset($configData['is_cache']) ? $isCache = $configData['is_cache'] : $isCache = \Ideas\Shop\Models\IdeasShop::DISABLE;
    isset($configData['currency_default']) ? $currencyDefault = $configData['currency_default'] : $currencyDefault = 1;
    isset($configData['weight_based_default']) ? $weightBaseDefault = $configData['weight_based_default'] : $weightBaseDefault = 1;
    isset($configData['coupon_prefix']) ? $couponPrefix = $configData['coupon_prefix'] : $couponPrefix = 'shop';
    isset($configData['coupon_length_random']) ? $couponLengthRandom = $configData['coupon_length_random'] : $couponLengthRandom = 10;
    isset($configData['paypal_id']) ? $paypalId = $configData['paypal_id'] : $paypalId = '';
    isset($configData['paypal_mode']) ? $paypalMode = $configData['paypal_mode'] : $paypalMode = 0;
    isset($configData['stripe_publish']) ? $stripePublish = $configData['stripe_publish'] : $stripePublish = '';
    isset($configData['stripe_secret']) ? $stripeSecret = $configData['stripe_secret'] : $stripeSecret = '';
    isset($configData['download_once']) ? $deleteDownloadLink = $configData['download_once'] : $deleteDownloadLink = \Ideas\Shop\Models\IdeasShop::ENABLE;
    isset($configData['download_right_after_checkout']) ? $downloadRightAfter = $configData['download_right_after_checkout'] : $downloadRightAfter = \Ideas\Shop\Models\IdeasShop::ENABLE;
    isset($configData['cache_minute']) ? $cacheMinutes = $configData['cache_minute'] : $cacheMinutes = 1;//default 1 minutes
    isset($configData['mail_method']) ? $mailMethod = $configData['mail_method'] : $mailMethod = 0;
    isset($configData['paypal']) ? $paypal = $configData['paypal'] : $paypal = 0;
    isset($configData['stripe']) ? $stripe = $configData['stripe'] : $stripe = 0;
    isset($configData['convert_currency']) ? $convertCurrency = $configData['convert_currency'] : $convertCurrency = 0;//default is disable
    ?>
    <?php echo Form::open() ?>
    <div class="tab-content layout-row">
        <!-- TAB GENERAL -->
        <div class="tab-pane  active layout-cell" id="tabs-general">
            <br/>
            <div class="form-group col-md-6 span-left">
                <?php echo $this->makePartial('plugins/ideas/shop/controllers/baseview/checkbox',
                ['name'=>'is_cache', 'value'=>$isCache]) ?>
                <?php
                if ($size != 0 && $size > 100000) {
                ?>
                <div>
                    <a href="<?php echo Backend::url('ideas/shop/config/clearcache'); ?>" class="btn btn-primary btn-xs">
                        <?php echo e(trans('ideas.shop::lang.setting.clear_cache')) ?>
                    </a>
                </div>
                <?php } ?>
            </div>

            <div class="form-group col-md-6 span-right">
                <?php echo $this->makePartial('plugins/ideas/shop/controllers/baseview/checkbox',
                ['name'=>'mail_method', 'value'=>$mailMethod, 'valueName0'=>'send', 'valueName1'=>'queue']) ?>
            </div>

            <div class="form-group col-md-6 span-left">
                <label><?php echo e(trans('ideas.shop::lang.config.cache_minute')) ?></label>
                <?php echo Form::text('cache_minute', $cacheMinutes, ['class'=>'form-control']) ?>
            </div>

            <div class="form-group col-md-6 span-right">
                <label><?php echo e(trans('ideas.shop::lang.config.currency_default')) ?></label>
                <?php echo Form::select('currency_default', $currency, $currencyDefault, ['class'=>'form-control select2']) ?>
            </div>

            <div class="form-group col-md-6 span-left">
                <label><?php echo e(trans('ideas.shop::lang.config.coupon_prefix')) ?></label>
                <?php echo Form::text('coupon_prefix', $couponPrefix, ['class'=>'form-control select2']) ?>
            </div>

            <div class="form-group col-md-6 span-right">
                <label><?php echo e(trans('ideas.shop::lang.config.weight_based_default')) ?></label>
                <?php echo Form::select('weight_based_default', $weight, $weightBaseDefault, ['class'=>'form-control select2']) ?>
                <p class="help-block"><?php echo e(trans('ideas.shop::lang.comment.weight_based_default')) ?></p>
            </div>

            <div class="form-group col-md-6 span-left">
                <label><?php echo e(trans('ideas.shop::lang.config.coupon_length_random')) ?></label>
                <?php echo Form::text('coupon_length_random', $couponLengthRandom, ['class'=>'form-control select2']) ?>
            </div>

            <div class="form-group col-md-6 span-left">
                <?php echo $this->makePartial('plugins/ideas/shop/controllers/baseview/checkbox',
                ['name'=>'convert_currency', 'value'=>$convertCurrency]) ?>
                <p class="help-block"><?php echo e(trans('ideas.shop::lang.comment.convert_currency')) ?></p>
            </div>
        </div>

        <!-- TAB PAYMENT -->
        <div class="tab-pane layout-cell" id="tabs-payment">
            <br/>
            <div class="form-group col-md-6 span-left">
                <?php echo $this->makePartial('plugins/ideas/shop/controllers/baseview/checkbox',
                ['name'=>'paypal', 'value'=>$paypal]) ?>
            </div>
            <div class="form-group col-md-6 span-right">
                <?php echo $this->makePartial('plugins/ideas/shop/controllers/baseview/checkbox',
                ['name'=>'stripe', 'value'=>$stripe]) ?>
            </div>
            <div class="form-group col-md-6 span-left">
                <label><?php echo e(trans('ideas.shop::lang.config.paypal_id')) ?></label>
                <?php echo Form::text('paypal_id', $paypalId, ['class'=>'form-control']) ?>
            </div>
            <div class="form-group col-md-6 span-right">
                <label><?php echo e(trans('ideas.shop::lang.config.stripe_publish')) ?></label>
                <?php echo Form::text('stripe_publish', $stripePublish, ['class'=>'form-control']) ?>
            </div>
            <div class="form-group col-md-6 span-left">
                <?php echo $this->makePartial('plugins/ideas/shop/controllers/baseview/checkbox',
                ['name'=>'paypal_mode', 'value'=>$paypalMode, 'valueName0'=>'sandbox', 'valueName1'=>'production']) ?>
            </div>
            <div class="form-group col-md-6 span-right">
                <label><?php echo e(trans('ideas.shop::lang.config.stripe_secret')) ?></label>
                <?php echo Form::text('stripe_secret', $stripeSecret, ['class'=>'form-control']) ?>
            </div>
        </div>

        <!-- TAB DOWNLOADABLE PRODUCT -->
        <div class="tab-pane layout-cell" id="tabs-download">
            <br/>
            <div class="form-group col-md-6 span-left">
                <?php echo $this->makePartial('plugins/ideas/shop/controllers/baseview/checkbox',
                ['name'=>'download_once', 'value'=>$deleteDownloadLink]) ?>
            </div>
            <div class="form-group col-md-6 span-left">
                <?php echo $this->makePartial('plugins/ideas/shop/controllers/baseview/checkbox',
                ['name'=>'download_right_after_checkout', 'value'=>$downloadRightAfter]) ?>
            </div>
        </div>

        <div class="form-group col-md-6 span-left">
            <button type="submit" class="btn btn-primary" data-request="onSaveConfigDefault">save</button>
        </div>
    </div>
    <?php echo Form::close() ?>
</div>