#post-area{
  padding-right:20px;
  margin-top:4px;
  transition: all 0.2s ease-in-out 0s;
  background: #fff !important;
}

body.page-template-page-left-sidebar-php .main-content >.row >#sidebar{
  margin-top:30px;
  transition: all 0.2s ease-in-out 0s;
  opacity: 1;
}

body.canvas-off #post-area{
	width: 100% !important;
	margin-left: -26%;
	background: #fff;
}

body.canvas-off #sidebar{
	width: 0%;
	margin-left: -26%;
	opacity: 0;
}

#show-canvase{
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	border: 1px solid #aaa;
	color: #aaa;
}

#show-canvase i.fa-angle-right{
	display: none;
}

#show-canvase i.fa-angle-left{
	display: inline-block;
}

body.canvas-off #show-canvase{

}

body.canvas-off #show-canvase i.fa-angle-right{
	display: inline-block;
}

body.canvas-off #show-canvase i.fa-angle-left{
	display: none;
}
