<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>HP MODELS &#8211; Boss Lasers</title>
	<atom:link href="http://bosslasers.fanscreens.net/product-category/laser-machines-hp-series/feed/" rel="self" type="application/rss+xml" />
	<link>http://bosslasers.fanscreens.net</link>
	<description></description>
	<lastBuildDate>Tue, 05 Jun 2018 21:41:33 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.8.7</generator>
	<item>
		<title>BOSS HP-2436</title>
		<link>http://bosslasers.fanscreens.net/product/boss-hp-2436/</link>
		<comments>http://bosslasers.fanscreens.net/product/boss-hp-2436/#respond</comments>
		<pubDate>Thu, 24 May 2018 18:42:27 +0000</pubDate>
		<dc:creator><![CDATA[Nick]]></dc:creator>
		
		<guid isPermaLink="false">http://bosslasers.fanscreens.net/?post_type=product&#038;p=570</guid>
		<description><![CDATA[High Power 150W - 24x36" laser cutter delivers the ultimate in material flexibility. <strong>Vector cut or raster engrave metal or non metal materials</strong>.  Multi-material pass thru options (4) for greater material handling. New Flex™ and VectorDC™ auto focus laser heads...]]></description>
				<content:encoded><![CDATA[<p><strong>NOTE: Included is a 3.5hp air compressor, but for maximum cutting power the HP line is designed to run a 95 psi @ 25cfm 7.5hp compressor</strong></p>
<h4>HP-2436 OFFERS:</h4>
<ul>
<li><strong>Call to schedule a LIVE demo here at our location in Orlando, FL!</strong></li>
<li><strong>2017 designed and engineered by BossLaser</strong></li>
<li>Vector cut and/or raster engrave both metal and non-metal materials</li>
<li>Capable of <strong>cleanly cutting</strong> 18 ga steel (1.02mm)</li>
<li>Includes both the <strong>Flex™ and the new VectorDC™ </strong>reciprocating auto focus laser heads for clean raster and deep cutting</li>
<li>4-way Material Pass Thru points for processing over sized materials</li>
<li><strong>NEW!</strong>Operator friendly LaserCAD™ premium laser software designed for both metal &amp; non-metal precision processing</li>
<li><strong>Wi-Fi or USB</strong> connection to PC Option</li>
<li>Inline Beam Combiner accurately illuminates a red dot on the material which is helps start up precision &#8211; Superior to red dot pointer.</li>
<li><strong>U.S. optics from <em>American Photonics</em> improves beam transmission by 14% vs. imported optics.</strong></li>
<li>Push-button Z-axis for accommodating <strong>7&#8243; tall objects.</strong></li>
<li><strong>Includes Industrial Water Chiller w/ pump </strong>(CW-5000) keeps water flowing thru CO2 Tube at ambient temperature.</li>
<li>Includes Max output <strong>Air Compressor w/ exhaust fan &amp; tubing</strong> for air assistance at the laser head.</li>
<li>Convenient vacuum table and sliding tray captures finished product</li>
<li>Knife blade table included for laser processing a broad array of materials</li>
<li>Industrial CNC machined replacement parts in stock for long term service</li>
<li>Ball bearing gantry promotes smooth, precision moving laser head</li>
<li>Optional Chuck or Roller rotary attachment for cylindrical objects</li>
<li>Works with Windows 10, 8, 7 (64 or 32 bit), XP &#8211; NO MAC</li>
<li>USA tech support available to serve you Monday-Saturday</li>
<li><strong>FREE Lifetime Tech Support</strong>. We are a tech support driven company</li>
<li>Pick-up available at our Orlando/Sanford, FL facility</li>
<li><strong>1 year Warranty</strong>covers CO2 Laser machine and laser tube.</li>
<li>Available <strong>30 Day </strong>Return Policy</li>
<li>LTL shipping with lift gate for off loading (not included in initial cost)</li>
<li><strong>Have questions? Please call us at 407.878.0880 for help!</strong></li>
</ul>
]]></content:encoded>
			<wfw:commentRss>http://bosslasers.fanscreens.net/product/boss-hp-2436/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>BOSS HP-3655</title>
		<link>http://bosslasers.fanscreens.net/product/boss-hp-3655/</link>
		<comments>http://bosslasers.fanscreens.net/product/boss-hp-3655/#respond</comments>
		<pubDate>Thu, 24 May 2018 17:59:44 +0000</pubDate>
		<dc:creator><![CDATA[Nick]]></dc:creator>
		
		<guid isPermaLink="false">http://bosslasers.fanscreens.net/?post_type=product&#038;p=563</guid>
		<description><![CDATA[The HP-3655 (high power) laser engraves and cuts through deeper materials - plus metal! Includes a 14.5% larger work area compared to 48x36" platforms. We include LaserWORKS v8 laser software (WIN 10 compatible), U.S focal lenses, and upgraded industrial CW-5000 water chiller.]]></description>
				<content:encoded><![CDATA[<p><img src="https://media.bosslaser.com/media/wysiwyg/HP3655.png" alt="HP3655" /></p>
<p><strong>NOTE: Included is a 3.5hp air compressor, but for maximum cutting power the HP line is designed to run a 95 psi @ 25cfm 7.5hp compressor</strong></p>
<h4>HP-3655 INCLUDES:</h4>
<ul>
<li><strong>Call us to schedule a visit at our location here in Orlando, FL to see this machine LIVE</strong></li>
<li>Designed and engineered by Boss Laser</li>
<li>Vector cut and/or raster engrave both metal and non-metal materials</li>
<li>Capable of <strong>cleanly cutting</strong> 18 ga steel (1.02mm)</li>
<li>Includes both the <strong>Flex™ and the new VectorDC™ </strong>reciprocating auto focus laser heads for clean raster and deep cutting</li>
<li>4-way Material Pass Thru points for processing over sized materials</li>
<li>Equipped with 150W CO2 laser tube backed by a 1-year warranty</li>
<li><strong>14.5% larger engraving area</strong> compared to standard 48&#215;36&#8243; sized platforms. Plus 4 over sized material pass thrus</li>
<li><strong>NEW!</strong>Intuitive LaserCAD™ premium laser software designed for both metal &amp; non-metal precision processing</li>
<li><strong>Connect to PC via. Wi-Fi or USB</strong></li>
<li><strong>NEW!</strong> Inline Beam Combiner precisely illuminates the laser heads position for increased accuracy and alignment.</li>
<li><strong>New! U.S. made optics by <em>American Photonics</em>. Proven 14% improved beam transmission vs. imported lenses.</strong></li>
<li>120 psi rated laser head w/ 1/4&#8243; high pressure air lines and hardware</li>
<li>Illuminated LCD panels for automated laser head control</li>
<li>Push-button <strong>motorized Z-Table</strong>lowers 7&#8243; for taller objects.</li>
<li>Industrial <strong>CW-5000</strong> Water Chiller w/ temp alert to protect your laser tube &#8211; $1,200 value</li>
<li>Knife Blade working platform included</li>
<li>Vacuum table with tray conveniently captures product.</li>
<li>Upgraded ball bearing gantry promotes smooth &amp; precise engraving</li>
<li>Optional Roller or Chuck rotary attachments for cylindrical objects</li>
<li><strong>Windows 10</strong>, 8, 7 (64 or 32 bit), XP, 2000 compatible</li>
<li>Safety door interlocks and limit switch prevent laser firing with door open</li>
<li>Dedicated USA technical support. Local on-site tech&#8217;s available</li>
<li><strong>FREE Lifetime Tech Support</strong>. For as long as you own the machine</li>
<li>We can serve you via. phone, email, chat, or remote computer access! (on-site services available)</li>
<li><strong>30-Day Return Policy</strong> ensures your 100% Satisfied</li>
<li><strong>1 year Warranty</strong> covers machine parts including laser tube.</li>
<li>Competitive LTL Insured shipping rates to North America includes lift gate service</li>
<li><strong>Call 407.878.0880</strong> for accurate shipping quote</li>
</ul>
<p>If you&#8217;re looking to get running asap, try our turn-key PC setup: BOSS ONE. This all-in-one set up includes a premium, Win 10 laptop already pre-installed LaserWORKS v8 laser software.</p>
]]></content:encoded>
			<wfw:commentRss>http://bosslasers.fanscreens.net/product/boss-hp-3655/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>BOSS-HP5598</title>
		<link>http://bosslasers.fanscreens.net/product/boss-hp5598/</link>
		<comments>http://bosslasers.fanscreens.net/product/boss-hp5598/#respond</comments>
		<pubDate>Thu, 24 May 2018 18:48:57 +0000</pubDate>
		<dc:creator><![CDATA[Nick]]></dc:creator>
		
		<guid isPermaLink="false">http://bosslasers.fanscreens.net/?post_type=product&#038;p=572</guid>
		<description><![CDATA[The GEN 5 - HP-5598 offers an extra wide working platform of 55 x 98 inches (1400mm x 2500mm).<strong>Designed and Engineered at Boss the CO2 powered 5598 can vector cut and raster engrave both metal &#38; non-metal materials.</strong> Includes upgraded American Photonics optics. Free <strong>on-site install and training.</strong>.]]></description>
				<content:encoded><![CDATA[<ul>
<li>December Offer valid this week only</li>
<li><strong>Call to schedule an on-site demonstration at our location in Sanford, FL!</strong></li>
<li>Capable of <strong>cleanly cutting</strong> 18 ga steel (1.02mm)</li>
<li>Max sheet width (material) capacity: 57&#8243;wide</li>
<li>Dual laser head design for <strong>BOTH vector &amp; raster processing metal &amp; non-metal materials</strong></li>
<li>Includes both the <strong>Flex™ and the new VectorDC™ </strong>reciprocating auto focus laser heads for clean raster and deep cutting</li>
<li>Hand Held Remote control for ease of use</li>
<li><strong>Wi-Fi or USB</strong> connection to PC Option</li>
<li>Dual illuminated LCD panels for automated laser head control</li>
<li><strong>Standard power includes 150W</strong></li>
<li>LaserCAD laser driver / software designed for vector and raster processing</li>
<li>NEW! American Photonics manufactured optics. Proven 14% beam transmission improvement vs. imported lenses.</li>
<li>120 psi rated laser head w/ 1/4&#8243; high pressure air lines and hardware</li>
<li>Free Industrial Refrigerated Water Chiller w/ temperature alert</li>
<li>Motorized laser head (z-axis) provides vertical movement &#8211; up to 2&#8243; for taller objects</li>
<li>4&#215;8&#8242; tooth and knife bladed platform for metal and non-metal processing (optional honeycomb for finer materials)</li>
<li>Vacuum table conveniently captures finished product into sliding trays</li>
<li>Improved exhaust ports for fume extraction includes dual bottom mounts w/ optional gantry mounted ports</li>
<li>Quality CNC machined parts in stock for long term service and reliability</li>
<li>X/Y linear axis guide rails promotes smooth &amp; precise laser head movement</li>
<li><strong>Windows 10</strong>, 8, 7 (64 or 32 bit), XP, 2000 compatible</li>
<li>4 adjustable feet and locking casters for uneven floors and mobility</li>
<li>Dedicated <strong>USA technical support </strong>from qualified tech&#8217;s and engineers</li>
<li><strong>FREE Lifetime Tech Support</strong>. We can serve you via. phone, email, chat, or remote computer access!</li>
<li>On-Site Tech support available</li>
<li>Pick-up service available at our Orlando, FL facility</li>
<li><strong>30 Day </strong>Return Policy</li>
<li><strong>1 Year Warranty </strong>covers CO2 Laser machine and power tube.</li>
<li><strong>Full day onsite, professional Install and Training included</strong></li>
<li>NOTE: You will need to be able to offload 2,500lb crate from LTL truck (usually flat bed)</li>
<li><strong>Call 1.407.878.0880 to speak to one of our sales engineers</strong></li>
</ul>
]]></content:encoded>
			<wfw:commentRss>http://bosslasers.fanscreens.net/product/boss-hp5598/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
